Note: This Notebook is used to continue to explore from LoanCleanUp2 post-presentation.

This notebook will begin the process of fixing error in recovery variable and completely removing Grace Period (issued) as part of Good or Bad

Extremely Messy and Needs to use functions to avoid Copy And Paste

In [2]:
import pandas as pd # the pd is by convention
import numpy as np # as is the np

import matplotlib.pyplot as plt
import seaborn as sns


import pickle

# To Plot matplotlib figures inline on the notebook
%matplotlib inline

# Importing Loans

In [3]:
loan_df = pd.read_csv("loan.csv", low_memory=False)

In [ ]:
Dictionary_df = pd.read_excel("LCDataDictionary.xlsx")

# Analysis of Data: NaN's, Variables Desired, And SAVE ME!

In [ ]:
def uniquecontents(df, col):
    print(df[col].unique())

def showcontents(df, col):
    print(df[col])

In [ ]:
uniquecontents(loan_df, "desc") #loan_df["desc"].unique()

In [ ]:
uniquecontents(loan_df, "earliest_cr_line")
uniquecontents(loan_df, "purpose")
uniquecontents(loan_df, "loan_status")
uniquecontents(loan_df, "title")
uniquecontents(loan_df, "tot_coll_amt")
uniquecontents(loan_df, "total_rec_int")

## Featured Engineering - Loans and Recovery

####  **Looking at columns and their entries in a statistical summary**

In [56]:
loan_df.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [4]:
loan_df = loan_df[loan_df.loan_status != 'In Grace Period']
loan_df['good_loan'] = np.where((loan_df.loan_status == 'Fully Paid') |
                        (loan_df.loan_status == 'Current') | 
                        (loan_df.loan_status == 'Does not meet the credit policy. Status:Fully Paid'), 1, 0)

In [5]:
loan_df['recoveries'] = np.where((loan_df.recoveries != 0.00), 1, 0)

#### Percent of the data is absent > 60%?

In [6]:
check_null = loan_df.isnull().sum(axis=0).sort_values(ascending=False)/float(len(loan_df))
check_null[check_null > 0.6]

dti_joint                      0.999426
verification_status_joint      0.999423
annual_inc_joint               0.999423
il_util                        0.978956
mths_since_rcnt_il             0.976476
open_acc_6m                    0.975838
open_il_6m                     0.975838
open_il_12m                    0.975838
open_il_24m                    0.975838
total_bal_il                   0.975838
open_rv_12m                    0.975838
open_rv_24m                    0.975838
max_bal_bc                     0.975838
all_util                       0.975838
inq_last_12m                   0.975838
inq_fi                         0.975838
total_cu_tl                    0.975838
desc                           0.857550
mths_since_last_record         0.845603
mths_since_last_major_derog    0.750582
dtype: float64

#### Drop NaN Rows & Irrelevant Columns

In [7]:
loan_df.drop(check_null[check_null>0.5].index, axis=1, inplace=True) 
loan_df.dropna(axis=0, thresh=30, inplace=True)

In [8]:
#Delete columns that are not relevant or lacking in data
delete_me = ['policy_code', 'url', 'id', 'member_id', 'application_type', 'acc_now_delinq','emp_title', 'zip_code','title']
loan_df.drop(delete_me , axis=1, inplace=True)

In [9]:
# strip months from 'term' and make it an int
 loan_df['term_num'] = loan_df['term'].str.split(' ').str[1]

#interest rate into a 
loan_df['int_rate'] = loan_df.int_rate.astype(float)/100.

# extract numbers from emp_length and fill missing values with the median
loan_df['emp_length'] = loan_df['emp_length'].str.extract('(\d+)').astype(float)
loan_df['emp_length'] = loan_df['emp_length'].fillna(loan_df.emp_length.median()) 
    #Maybe be problematic, so may just remove this if working with just 2017 data set


#Relook on what fails
##[0]#.str[1]

In [10]:
lack_of_data_idx = [x for x in loan_df.count() < 887379*0.25]
loan_df.drop(loan_df.columns[lack_of_data_idx], 1, inplace=True)

In [66]:
good_loan =  len(loan_df[(loan_df.loan_status == 'Fully Paid') |
                    (loan_df.loan_status == 'Current') | 
                    (loan_df.loan_status == 'Does not meet the credit policy. Status:Fully Paid')])
print ('Good/Bad Loan Ratio: %.2f%%'  % (good_loan/len(loan_df)*100))

Good/Bad Loan Ratio: 92.10%

In [11]:
check_null = loan_df.isnull().sum(axis=0).sort_values(ascending=False)/float(len(loan_df))
check_null[check_null>0.05]

next_pymnt_d        0.287100
tot_cur_bal         0.079682
tot_coll_amt        0.079682
total_rev_hi_lim    0.079682
dtype: float64

In [12]:
loan_df = loan_df.drop(columns = ['next_pymnt_d', 'last_pymnt_d'])
loan_df = loan_df.dropna() #remove rows where there is atlease one NAN or empty
loan_df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,good_loan
42535,27050.0,27050.0,27050.0,36 months,0.1099,885.46,B,B2,10.0,OWN,...,0.00,0,0.0,885.46,Dec-2015,0.0,0.0,114834.0,59900.0,1
42536,9750.0,9750.0,9750.0,36 months,0.1398,333.14,C,C1,1.0,RENT,...,0.00,0,0.0,333.14,Jan-2016,0.0,0.0,14123.0,15100.0,1
42537,12000.0,12000.0,12000.0,36 months,0.0662,368.45,A,A2,10.0,MORTGAGE,...,0.00,0,0.0,368.45,Jan-2016,0.0,0.0,267646.0,61100.0,1
42538,12000.0,12000.0,12000.0,36 months,0.1353,407.40,B,B5,10.0,RENT,...,0.00,0,0.0,119.17,Jan-2016,0.0,15386.0,13605.0,8100.0,1
42539,15000.0,15000.0,15000.0,36 months,0.0890,476.30,A,A5,2.0,MORTGAGE,...,0.00,0,0.0,476.30,Jan-2016,0.0,1514.0,272492.0,15400.0,1
42540,12000.0,12000.0,12000.0,36 months,0.1199,398.52,B,B3,10.0,MORTGAGE,...,0.00,0,0.0,398.52,Jan-2016,0.0,0.0,327264.0,16200.0,1
42541,14000.0,14000.0,14000.0,36 months,0.1285,470.71,B,B4,4.0,RENT,...,0.00,0,0.0,470.71,Jan-2016,0.0,0.0,17672.0,4500.0,1
42542,7550.0,7550.0,7550.0,36 months,0.1624,266.34,C,C5,3.0,RENT,...,0.00,0,0.0,266.34,Jan-2016,0.0,0.0,5759.0,8000.0,1
42543,10000.0,10000.0,10000.0,36 months,0.0967,321.13,B,B1,7.0,MORTGAGE,...,0.00,0,0.0,321.13,Jan-2016,0.0,0.0,39143.0,22300.0,1
42544,3000.0,3000.0,3000.0,36 months,0.1285,100.87,B,B4,10.0,RENT,...,0.00,0,0.0,2677.23,Jan-2016,0.0,154.0,19530.0,5300.0,1
42545,12000.0,12000.0,12000.0,36 months,0.0762,373.94,A,A3,3.0,MORTGAGE,...,0.00,0,0.0,373.94,Jan-2016,0.0,0.0,200314.0,23800.0,1
42546,28000.0,28000.0,28000.0,36 months,0.0762,872.52,A,A3,5.0,MORTGAGE,...,0.00,0,0.0,23915.86,Aug-2014,0.0,0.0,799592.0,54200.0,1
42547,27600.0,27600.0,27600.0,60 months,0.1997,730.78,D,D5,6.0,MORTGAGE,...,0.00,0,0.0,730.78,Jan-2016,0.0,0.0,241609.0,32600.0,1
42548,11100.0,11100.0,11100.0,36 months,0.1498,384.68,C,C3,10.0,MORTGAGE,...,0.00,0,0.0,384.68,Jan-2016,0.0,0.0,353402.0,10000.0,1
42549,24000.0,24000.0,24000.0,36 months,0.1353,814.80,B,B5,10.0,MORTGAGE,...,0.00,0,0.0,10726.61,Dec-2015,0.0,539.0,199834.0,28200.0,1
42550,8000.0,8000.0,8000.0,36 months,0.1099,261.88,B,B2,2.0,MORTGAGE,...,15.00,0,0.0,276.88,Jan-2016,0.0,0.0,15949.0,20800.0,0
42551,11500.0,11500.0,11500.0,60 months,0.2290,323.54,E,E4,4.0,RENT,...,0.00,0,0.0,323.54,Jan-2016,0.0,92.0,24724.0,14100.0,0
42552,15000.0,15000.0,15000.0,36 months,0.1447,516.10,C,C2,10.0,RENT,...,0.00,0,0.0,14150.76,Jan-2016,0.0,0.0,13038.0,25800.0,1
42553,12000.0,12000.0,12000.0,36 months,0.1099,392.81,B,B2,4.0,RENT,...,0.00,0,0.0,392.81,Jan-2016,0.0,0.0,7137.0,29700.0,1
42554,4800.0,4800.0,4800.0,36 months,0.1099,157.13,B,B2,2.0,MORTGAGE,...,0.00,0,0.0,3900.48,Jan-2016,0.0,0.0,4136.0,25700.0,1
42555,20800.0,20800.0,20800.0,36 months,0.1353,706.16,B,B5,10.0,RENT,...,0.00,0,0.0,13334.93,Jan-2016,0.0,0.0,23473.0,43100.0,1
42556,21000.0,21000.0,21000.0,36 months,0.0762,654.39,A,A3,9.0,MORTGAGE,...,32.72,0,0.0,654.39,Jan-2016,0.0,0.0,364707.0,27700.0,1
42557,10000.0,10000.0,10000.0,36 months,0.1199,332.10,B,B3,10.0,MORTGAGE,...,0.00,0,0.0,4395.33,Jan-2016,0.0,0.0,50865.0,19100.0,1
42558,4500.0,4500.0,4500.0,36 months,0.1922,165.46,D,D4,10.0,RENT,...,0.00,0,0.0,165.46,Jan-2016,0.0,0.0,40100.0,20500.0,1
42559,20000.0,20000.0,20000.0,60 months,0.1624,488.92,C,C5,3.0,RENT,...,0.00,0,0.0,488.92,Jan-2016,0.0,0.0,37111.0,28400.0,1
42560,7200.0,7200.0,7200.0,36 months,0.1099,235.69,B,B2,4.0,OWN,...,0.00,0,0.0,4539.95,Jan-2016,0.0,0.0,45598.0,9800.0,1
42561,20000.0,20000.0,20000.0,36 months,0.1398,683.36,C,C1,10.0,MORTGAGE,...,0.00,0,0.0,11192.21,Aug-2015,0.0,0.0,16852.0,28800.0,1
42562,31825.0,31825.0,31825.0,60 months,0.2050,852.05,E,E1,10.0,MORTGAGE,...,0.00,0,0.0,852.05,Jan-2016,0.0,0.0,215915.0,47800.0,1
42563,10000.0,10000.0,10000.0,60 months,0.1398,232.58,C,C1,5.0,RENT,...,0.00,0,0.0,232.58,Jan-2016,0.0,0.0,24419.0,11500.0,0
42564,18450.0,18450.0,18450.0,36 months,0.1398,630.40,C,C1,10.0,RENT,...,0.00,0,0.0,630.40,Jan-2016,0.0,0.0,23136.0,42400.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.0,36 months,0.0699,617.46,A,A3,2.0,MORTGAGE,...,0.00,0,0.0,617.46,Jan-2016,0.0,0.0,388140.0,39700.0,1
887350,10300.0,10300.0,10300.0,60 months,0.1366,237.86,C,C3,10.0,RENT,...,0.00,0,0.0,237.86,Jan-2016,0.0,50.0,41956.0,22000.0,1
887351,4200.0,4200.0,4200.0,36 months,0.1599,147.64,D,D2,10.0,MORTGAGE,...,0.00,0,0.0,147.64,Jan-2016,0.0,0.0,207975.0,20400.0,0
887352,15000.0,15000.0,15000.0,36 months,0.1199,498.15,B,B5,1.0,RENT,...,0.00,0,0.0,498.15,Jan-2016,0.0,0.0,15724.0,9700.0,1
887353,15000.0,15000.0,15000.0,60 months,0.1144,329.44,B,B4,4.0,RENT,...,0.00,0,0.0,329.44,Jan-2016,0.0,0.0,33529.0,26100.0,1
887354,6000.0,6000.0,6000.0,36 months,0.1786,216.50,D,D5,10.0,MORTGAGE,...,0.00,0,0.0,216.50,Jan-2016,0.0,0.0,384500.0,8500.0,1
887355,26950.0,26950.0,26950.0,36 months,0.0819,846.88,A,A5,6.0,RENT,...,0.00,0,0.0,846.88,Jan-2016,0.0,0.0,41650.0,129100.0,1
887356,23000.0,23000.0,23000.0,60 months,0.1559,554.32,D,D1,10.0,MORTGAGE,...,0.00,0,0.0,554.32,Jan-2016,0.0,0.0,48978.0,65600.0,1
887357,18700.0,18700.0,18700.0,60 months,0.1786,473.44,D,D5,10.0,RENT,...,0.00,0,0.0,473.44,Jan-2016,0.0,0.0,40164.0,10200.0,1
887358,25000.0,25000.0,25000.0,60 months,0.1599,607.82,D,D2,3.0,RENT,...,0.00,0,0.0,607.82,Jan-2016,0.0,0.0,17275.0,18700.0,1
887359,25000.0,25000.0,25000.0,60 months,0.1559,602.52,D,D1,6.0,OWN,...,0.00,0,0.0,602.52,Jan-2016,0.0,0.0,13860.0,24400.0,1
887360,26500.0,26500.0,26500.0,60 months,0.0867,545.87,B,B1,10.0,MORTGAGE,...,0.00,0,0.0,545.87,Jan-2016,0.0,0.0,115511.0,118600.0,1
887361,21000.0,21000.0,21000.0,36 months,0.0603,639.15,A,A1,10.0,MORTGAGE,...,0.00,0,0.0,639.15,Jan-2016,0.0,0.0,212337.0,76300.0,1
887362,8000.0,8000.0,8000.0,36 months,0.0819,251.40,A,A5,9.0,MORTGAGE,...,0.00,0,0.0,251.40,Jan-2016,0.0,0.0,211412.0,7300.0,1
887363,12000.0,12000.0,12000.0,36 months,0.0949,384.34,B,B2,4.0,RENT,...,0.00,0,0.0,384.34,Jan-2016,0.0,0.0,20671.0,11900.0,1
887364,10775.0,10775.0,10775.0,36 months,0.0603,327.95,A,A1,1.0,RENT,...,0.00,0,0.0,9439.34,Jun-2015,0.0,0.0,24696.0,41700.0,1
887365,7000.0,7000.0,7000.0,36 months,0.1431,240.30,C,C4,10.0,RENT,...,0.00,0,0.0,240.30,Jan-2016,0.0,0.0,32135.0,9900.0,1
887366,6225.0,6225.0,6225.0,36 months,0.1649,220.37,D,D3,2.0,RENT,...,0.00,0,0.0,4858.17,Dec-2015,0.0,0.0,8357.0,1800.0,1
887367,10000.0,10000.0,10000.0,36 months,0.0649,306.45,A,A2,1.0,RENT,...,0.00,0,0.0,306.45,Jan-2016,0.0,0.0,88120.0,30300.0,1
887368,13150.0,13150.0,13150.0,60 months,0.1499,312.77,C,C5,8.0,MORTGAGE,...,0.00,0,0.0,312.77,Mar-2015,0.0,0.0,158977.0,20700.0,1
887369,4000.0,4000.0,4000.0,36 months,0.0867,126.59,B,B1,10.0,MORTGAGE,...,0.00,0,0.0,3655.51,Nov-2015,0.0,0.0,18979.0,30100.0,1
887370,7500.0,7500.0,7500.0,36 months,0.0949,240.22,B,B2,8.0,RENT,...,0.00,0,0.0,240.22,Jan-2016,0.0,3174.0,18611.0,14500.0,1
887371,10850.0,10850.0,10850.0,36 months,0.1924,399.04,E,E2,6.0,OWN,...,0.00,0,0.0,25.00,Jan-2016,0.0,972.0,53777.0,16800.0,0
887372,12000.0,12000.0,12000.0,36 months,0.1199,398.52,B,B5,1.0,MORTGAGE,...,0.00,0,0.0,398.52,Jan-2016,0.0,0.0,237002.0,30300.0,1
887373,11575.0,11575.0,11575.0,36 months,0.1559,404.61,D,D1,10.0,RENT,...,0.00,0,0.0,404.61,Jan-2016,0.0,0.0,19798.0,28100.0,1
887374,10000.0,10000.0,10000.0,36 months,0.1199,332.10,B,B5,8.0,RENT,...,0.00,0,0.0,332.10,Jan-2016,0.0,0.0,25274.0,17100.0,1
887375,24000.0,24000.0,24000.0,36 months,0.1199,797.03,B,B5,10.0,MORTGAGE,...,0.00,0,0.0,797.03,Jan-2016,0.0,0.0,140285.0,10200.0,1
887376,13000.0,13000.0,13000.0,60 months,0.1599,316.07,D,D2,5.0,RENT,...,0.00,0,0.0,316.07,Jan-2016,0.0,0.0,34178.0,18000.0,1
887377,12000.0,12000.0,12000.0,60 months,0.1999,317.86,E,E3,1.0,RENT,...,0.00,0,0.0,317.86,Jan-2016,1.0,0.0,58418.0,27000.0,1
887378,20000.0,20000.0,20000.0,36 months,0.1199,664.20,B,B5,10.0,RENT,...,0.00,0,0.0,664.20,Jan-2016,0.0,0.0,33307.0,41700.0,1

In [13]:
#loan_df = loan_df.reset_index
loan_df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,good_loan
42535,27050.0,27050.0,27050.0,36 months,0.1099,885.46,B,B2,10.0,OWN,...,0.00,0,0.0,885.46,Dec-2015,0.0,0.0,114834.0,59900.0,1
42536,9750.0,9750.0,9750.0,36 months,0.1398,333.14,C,C1,1.0,RENT,...,0.00,0,0.0,333.14,Jan-2016,0.0,0.0,14123.0,15100.0,1
42537,12000.0,12000.0,12000.0,36 months,0.0662,368.45,A,A2,10.0,MORTGAGE,...,0.00,0,0.0,368.45,Jan-2016,0.0,0.0,267646.0,61100.0,1
42538,12000.0,12000.0,12000.0,36 months,0.1353,407.40,B,B5,10.0,RENT,...,0.00,0,0.0,119.17,Jan-2016,0.0,15386.0,13605.0,8100.0,1
42539,15000.0,15000.0,15000.0,36 months,0.0890,476.30,A,A5,2.0,MORTGAGE,...,0.00,0,0.0,476.30,Jan-2016,0.0,1514.0,272492.0,15400.0,1
42540,12000.0,12000.0,12000.0,36 months,0.1199,398.52,B,B3,10.0,MORTGAGE,...,0.00,0,0.0,398.52,Jan-2016,0.0,0.0,327264.0,16200.0,1
42541,14000.0,14000.0,14000.0,36 months,0.1285,470.71,B,B4,4.0,RENT,...,0.00,0,0.0,470.71,Jan-2016,0.0,0.0,17672.0,4500.0,1
42542,7550.0,7550.0,7550.0,36 months,0.1624,266.34,C,C5,3.0,RENT,...,0.00,0,0.0,266.34,Jan-2016,0.0,0.0,5759.0,8000.0,1
42543,10000.0,10000.0,10000.0,36 months,0.0967,321.13,B,B1,7.0,MORTGAGE,...,0.00,0,0.0,321.13,Jan-2016,0.0,0.0,39143.0,22300.0,1
42544,3000.0,3000.0,3000.0,36 months,0.1285,100.87,B,B4,10.0,RENT,...,0.00,0,0.0,2677.23,Jan-2016,0.0,154.0,19530.0,5300.0,1
42545,12000.0,12000.0,12000.0,36 months,0.0762,373.94,A,A3,3.0,MORTGAGE,...,0.00,0,0.0,373.94,Jan-2016,0.0,0.0,200314.0,23800.0,1
42546,28000.0,28000.0,28000.0,36 months,0.0762,872.52,A,A3,5.0,MORTGAGE,...,0.00,0,0.0,23915.86,Aug-2014,0.0,0.0,799592.0,54200.0,1
42547,27600.0,27600.0,27600.0,60 months,0.1997,730.78,D,D5,6.0,MORTGAGE,...,0.00,0,0.0,730.78,Jan-2016,0.0,0.0,241609.0,32600.0,1
42548,11100.0,11100.0,11100.0,36 months,0.1498,384.68,C,C3,10.0,MORTGAGE,...,0.00,0,0.0,384.68,Jan-2016,0.0,0.0,353402.0,10000.0,1
42549,24000.0,24000.0,24000.0,36 months,0.1353,814.80,B,B5,10.0,MORTGAGE,...,0.00,0,0.0,10726.61,Dec-2015,0.0,539.0,199834.0,28200.0,1
42550,8000.0,8000.0,8000.0,36 months,0.1099,261.88,B,B2,2.0,MORTGAGE,...,15.00,0,0.0,276.88,Jan-2016,0.0,0.0,15949.0,20800.0,0
42551,11500.0,11500.0,11500.0,60 months,0.2290,323.54,E,E4,4.0,RENT,...,0.00,0,0.0,323.54,Jan-2016,0.0,92.0,24724.0,14100.0,0
42552,15000.0,15000.0,15000.0,36 months,0.1447,516.10,C,C2,10.0,RENT,...,0.00,0,0.0,14150.76,Jan-2016,0.0,0.0,13038.0,25800.0,1
42553,12000.0,12000.0,12000.0,36 months,0.1099,392.81,B,B2,4.0,RENT,...,0.00,0,0.0,392.81,Jan-2016,0.0,0.0,7137.0,29700.0,1
42554,4800.0,4800.0,4800.0,36 months,0.1099,157.13,B,B2,2.0,MORTGAGE,...,0.00,0,0.0,3900.48,Jan-2016,0.0,0.0,4136.0,25700.0,1
42555,20800.0,20800.0,20800.0,36 months,0.1353,706.16,B,B5,10.0,RENT,...,0.00,0,0.0,13334.93,Jan-2016,0.0,0.0,23473.0,43100.0,1
42556,21000.0,21000.0,21000.0,36 months,0.0762,654.39,A,A3,9.0,MORTGAGE,...,32.72,0,0.0,654.39,Jan-2016,0.0,0.0,364707.0,27700.0,1
42557,10000.0,10000.0,10000.0,36 months,0.1199,332.10,B,B3,10.0,MORTGAGE,...,0.00,0,0.0,4395.33,Jan-2016,0.0,0.0,50865.0,19100.0,1
42558,4500.0,4500.0,4500.0,36 months,0.1922,165.46,D,D4,10.0,RENT,...,0.00,0,0.0,165.46,Jan-2016,0.0,0.0,40100.0,20500.0,1
42559,20000.0,20000.0,20000.0,60 months,0.1624,488.92,C,C5,3.0,RENT,...,0.00,0,0.0,488.92,Jan-2016,0.0,0.0,37111.0,28400.0,1
42560,7200.0,7200.0,7200.0,36 months,0.1099,235.69,B,B2,4.0,OWN,...,0.00,0,0.0,4539.95,Jan-2016,0.0,0.0,45598.0,9800.0,1
42561,20000.0,20000.0,20000.0,36 months,0.1398,683.36,C,C1,10.0,MORTGAGE,...,0.00,0,0.0,11192.21,Aug-2015,0.0,0.0,16852.0,28800.0,1
42562,31825.0,31825.0,31825.0,60 months,0.2050,852.05,E,E1,10.0,MORTGAGE,...,0.00,0,0.0,852.05,Jan-2016,0.0,0.0,215915.0,47800.0,1
42563,10000.0,10000.0,10000.0,60 months,0.1398,232.58,C,C1,5.0,RENT,...,0.00,0,0.0,232.58,Jan-2016,0.0,0.0,24419.0,11500.0,0
42564,18450.0,18450.0,18450.0,36 months,0.1398,630.40,C,C1,10.0,RENT,...,0.00,0,0.0,630.40,Jan-2016,0.0,0.0,23136.0,42400.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.0,36 months,0.0699,617.46,A,A3,2.0,MORTGAGE,...,0.00,0,0.0,617.46,Jan-2016,0.0,0.0,388140.0,39700.0,1
887350,10300.0,10300.0,10300.0,60 months,0.1366,237.86,C,C3,10.0,RENT,...,0.00,0,0.0,237.86,Jan-2016,0.0,50.0,41956.0,22000.0,1
887351,4200.0,4200.0,4200.0,36 months,0.1599,147.64,D,D2,10.0,MORTGAGE,...,0.00,0,0.0,147.64,Jan-2016,0.0,0.0,207975.0,20400.0,0
887352,15000.0,15000.0,15000.0,36 months,0.1199,498.15,B,B5,1.0,RENT,...,0.00,0,0.0,498.15,Jan-2016,0.0,0.0,15724.0,9700.0,1
887353,15000.0,15000.0,15000.0,60 months,0.1144,329.44,B,B4,4.0,RENT,...,0.00,0,0.0,329.44,Jan-2016,0.0,0.0,33529.0,26100.0,1
887354,6000.0,6000.0,6000.0,36 months,0.1786,216.50,D,D5,10.0,MORTGAGE,...,0.00,0,0.0,216.50,Jan-2016,0.0,0.0,384500.0,8500.0,1
887355,26950.0,26950.0,26950.0,36 months,0.0819,846.88,A,A5,6.0,RENT,...,0.00,0,0.0,846.88,Jan-2016,0.0,0.0,41650.0,129100.0,1
887356,23000.0,23000.0,23000.0,60 months,0.1559,554.32,D,D1,10.0,MORTGAGE,...,0.00,0,0.0,554.32,Jan-2016,0.0,0.0,48978.0,65600.0,1
887357,18700.0,18700.0,18700.0,60 months,0.1786,473.44,D,D5,10.0,RENT,...,0.00,0,0.0,473.44,Jan-2016,0.0,0.0,40164.0,10200.0,1
887358,25000.0,25000.0,25000.0,60 months,0.1599,607.82,D,D2,3.0,RENT,...,0.00,0,0.0,607.82,Jan-2016,0.0,0.0,17275.0,18700.0,1
887359,25000.0,25000.0,25000.0,60 months,0.1559,602.52,D,D1,6.0,OWN,...,0.00,0,0.0,602.52,Jan-2016,0.0,0.0,13860.0,24400.0,1
887360,26500.0,26500.0,26500.0,60 months,0.0867,545.87,B,B1,10.0,MORTGAGE,...,0.00,0,0.0,545.87,Jan-2016,0.0,0.0,115511.0,118600.0,1
887361,21000.0,21000.0,21000.0,36 months,0.0603,639.15,A,A1,10.0,MORTGAGE,...,0.00,0,0.0,639.15,Jan-2016,0.0,0.0,212337.0,76300.0,1
887362,8000.0,8000.0,8000.0,36 months,0.0819,251.40,A,A5,9.0,MORTGAGE,...,0.00,0,0.0,251.40,Jan-2016,0.0,0.0,211412.0,7300.0,1
887363,12000.0,12000.0,12000.0,36 months,0.0949,384.34,B,B2,4.0,RENT,...,0.00,0,0.0,384.34,Jan-2016,0.0,0.0,20671.0,11900.0,1
887364,10775.0,10775.0,10775.0,36 months,0.0603,327.95,A,A1,1.0,RENT,...,0.00,0,0.0,9439.34,Jun-2015,0.0,0.0,24696.0,41700.0,1
887365,7000.0,7000.0,7000.0,36 months,0.1431,240.30,C,C4,10.0,RENT,...,0.00,0,0.0,240.30,Jan-2016,0.0,0.0,32135.0,9900.0,1
887366,6225.0,6225.0,6225.0,36 months,0.1649,220.37,D,D3,2.0,RENT,...,0.00,0,0.0,4858.17,Dec-2015,0.0,0.0,8357.0,1800.0,1
887367,10000.0,10000.0,10000.0,36 months,0.0649,306.45,A,A2,1.0,RENT,...,0.00,0,0.0,306.45,Jan-2016,0.0,0.0,88120.0,30300.0,1
887368,13150.0,13150.0,13150.0,60 months,0.1499,312.77,C,C5,8.0,MORTGAGE,...,0.00,0,0.0,312.77,Mar-2015,0.0,0.0,158977.0,20700.0,1
887369,4000.0,4000.0,4000.0,36 months,0.0867,126.59,B,B1,10.0,MORTGAGE,...,0.00,0,0.0,3655.51,Nov-2015,0.0,0.0,18979.0,30100.0,1
887370,7500.0,7500.0,7500.0,36 months,0.0949,240.22,B,B2,8.0,RENT,...,0.00,0,0.0,240.22,Jan-2016,0.0,3174.0,18611.0,14500.0,1
887371,10850.0,10850.0,10850.0,36 months,0.1924,399.04,E,E2,6.0,OWN,...,0.00,0,0.0,25.00,Jan-2016,0.0,972.0,53777.0,16800.0,0
887372,12000.0,12000.0,12000.0,36 months,0.1199,398.52,B,B5,1.0,MORTGAGE,...,0.00,0,0.0,398.52,Jan-2016,0.0,0.0,237002.0,30300.0,1
887373,11575.0,11575.0,11575.0,36 months,0.1559,404.61,D,D1,10.0,RENT,...,0.00,0,0.0,404.61,Jan-2016,0.0,0.0,19798.0,28100.0,1
887374,10000.0,10000.0,10000.0,36 months,0.1199,332.10,B,B5,8.0,RENT,...,0.00,0,0.0,332.10,Jan-2016,0.0,0.0,25274.0,17100.0,1
887375,24000.0,24000.0,24000.0,36 months,0.1199,797.03,B,B5,10.0,MORTGAGE,...,0.00,0,0.0,797.03,Jan-2016,0.0,0.0,140285.0,10200.0,1
887376,13000.0,13000.0,13000.0,60 months,0.1599,316.07,D,D2,5.0,RENT,...,0.00,0,0.0,316.07,Jan-2016,0.0,0.0,34178.0,18000.0,1
887377,12000.0,12000.0,12000.0,60 months,0.1999,317.86,E,E3,1.0,RENT,...,0.00,0,0.0,317.86,Jan-2016,1.0,0.0,58418.0,27000.0,1
887378,20000.0,20000.0,20000.0,36 months,0.1199,664.20,B,B5,10.0,RENT,...,0.00,0,0.0,664.20,Jan-2016,0.0,0.0,33307.0,41700.0,1

In [14]:
good_loan =  len(loan_df[(loan_df.loan_status == 'Fully Paid') |
                    (loan_df.loan_status == 'Current') | 
                    (loan_df.loan_status == 'Does not meet the credit policy. Status:Fully Paid')])
print ('Good/Bad Loan Ratio: %.2f%%'  % (good_loan/len(loan_df)*100))

Good/Bad Loan Ratio: 92.76%

In [15]:
loan_df.dtypes

loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                           object
int_rate                      float64
installment                   float64
grade                          object
sub_grade                      object
emp_length                    float64
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
purpose                        object
addr_state                     object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line               object
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
revol_util                    float64
total_acc                     float64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                      int64
collection_recovery_fee       float64
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
tot_coll_amt                  float64
tot_cur_bal                   float64
total_rev_hi_lim              float64
good_loan                       int64
dtype: object

In [ ]:
#loan_df.to_csv("CleanLoan.csv")

## One Hot Encode

In [16]:
columns = ['grade', 'term', 'pymnt_plan', 'home_ownership', 'purpose',  'recoveries', 'initial_list_status','verification_status']
for col in columns:
    tmp_df = pd.get_dummies(loan_df[col], prefix=col)
    loan_df = pd.concat((loan_df, tmp_df), axis=1)

In [17]:
loan_df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,purpose_small_business,purpose_vacation,purpose_wedding,recoveries_0,recoveries_1,initial_list_status_f,initial_list_status_w,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
42535,27050.0,27050.0,27050.0,36 months,0.1099,885.46,B,B2,10.0,OWN,...,0,0,0,1,0,0,1,0,0,1
42536,9750.0,9750.0,9750.0,36 months,0.1398,333.14,C,C1,1.0,RENT,...,0,0,0,1,0,1,0,1,0,0
42537,12000.0,12000.0,12000.0,36 months,0.0662,368.45,A,A2,10.0,MORTGAGE,...,0,0,0,1,0,0,1,1,0,0
42538,12000.0,12000.0,12000.0,36 months,0.1353,407.40,B,B5,10.0,RENT,...,0,0,0,1,0,0,1,0,1,0
42539,15000.0,15000.0,15000.0,36 months,0.0890,476.30,A,A5,2.0,MORTGAGE,...,0,0,0,1,0,0,1,1,0,0
42540,12000.0,12000.0,12000.0,36 months,0.1199,398.52,B,B3,10.0,MORTGAGE,...,0,0,0,1,0,1,0,0,1,0
42541,14000.0,14000.0,14000.0,36 months,0.1285,470.71,B,B4,4.0,RENT,...,0,0,0,1,0,1,0,1,0,0
42542,7550.0,7550.0,7550.0,36 months,0.1624,266.34,C,C5,3.0,RENT,...,0,0,0,1,0,0,1,1,0,0
42543,10000.0,10000.0,10000.0,36 months,0.0967,321.13,B,B1,7.0,MORTGAGE,...,0,0,0,1,0,1,0,1,0,0
42544,3000.0,3000.0,3000.0,36 months,0.1285,100.87,B,B4,10.0,RENT,...,0,0,0,1,0,1,0,0,0,1
42545,12000.0,12000.0,12000.0,36 months,0.0762,373.94,A,A3,3.0,MORTGAGE,...,0,0,0,1,0,1,0,1,0,0
42546,28000.0,28000.0,28000.0,36 months,0.0762,872.52,A,A3,5.0,MORTGAGE,...,0,0,0,1,0,0,1,0,1,0
42547,27600.0,27600.0,27600.0,60 months,0.1997,730.78,D,D5,6.0,MORTGAGE,...,0,0,0,1,0,1,0,0,1,0
42548,11100.0,11100.0,11100.0,36 months,0.1498,384.68,C,C3,10.0,MORTGAGE,...,0,0,0,1,0,1,0,1,0,0
42549,24000.0,24000.0,24000.0,36 months,0.1353,814.80,B,B5,10.0,MORTGAGE,...,0,0,0,1,0,0,1,0,0,1
42550,8000.0,8000.0,8000.0,36 months,0.1099,261.88,B,B2,2.0,MORTGAGE,...,0,0,0,1,0,1,0,1,0,0
42551,11500.0,11500.0,11500.0,60 months,0.2290,323.54,E,E4,4.0,RENT,...,0,0,0,1,0,1,0,0,0,1
42552,15000.0,15000.0,15000.0,36 months,0.1447,516.10,C,C2,10.0,RENT,...,0,0,0,1,0,1,0,1,0,0
42553,12000.0,12000.0,12000.0,36 months,0.1099,392.81,B,B2,4.0,RENT,...,0,0,0,1,0,1,0,1,0,0
42554,4800.0,4800.0,4800.0,36 months,0.1099,157.13,B,B2,2.0,MORTGAGE,...,0,0,0,1,0,0,1,0,1,0
42555,20800.0,20800.0,20800.0,36 months,0.1353,706.16,B,B5,10.0,RENT,...,0,0,0,1,0,1,0,0,0,1
42556,21000.0,21000.0,21000.0,36 months,0.0762,654.39,A,A3,9.0,MORTGAGE,...,0,0,0,1,0,1,0,0,1,0
42557,10000.0,10000.0,10000.0,36 months,0.1199,332.10,B,B3,10.0,MORTGAGE,...,0,0,0,1,0,0,1,1,0,0
42558,4500.0,4500.0,4500.0,36 months,0.1922,165.46,D,D4,10.0,RENT,...,0,0,0,1,0,1,0,1,0,0
42559,20000.0,20000.0,20000.0,60 months,0.1624,488.92,C,C5,3.0,RENT,...,0,0,0,1,0,1,0,0,0,1
42560,7200.0,7200.0,7200.0,36 months,0.1099,235.69,B,B2,4.0,OWN,...,0,0,0,1,0,1,0,0,0,1
42561,20000.0,20000.0,20000.0,36 months,0.1398,683.36,C,C1,10.0,MORTGAGE,...,0,0,0,1,0,1,0,0,1,0
42562,31825.0,31825.0,31825.0,60 months,0.2050,852.05,E,E1,10.0,MORTGAGE,...,0,0,0,1,0,0,1,0,0,1
42563,10000.0,10000.0,10000.0,60 months,0.1398,232.58,C,C1,5.0,RENT,...,0,0,0,1,0,1,0,0,1,0
42564,18450.0,18450.0,18450.0,36 months,0.1398,630.40,C,C1,10.0,RENT,...,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.0,36 months,0.0699,617.46,A,A3,2.0,MORTGAGE,...,0,0,0,1,0,1,0,0,1,0
887350,10300.0,10300.0,10300.0,60 months,0.1366,237.86,C,C3,10.0,RENT,...,0,0,0,1,0,1,0,0,1,0
887351,4200.0,4200.0,4200.0,36 months,0.1599,147.64,D,D2,10.0,MORTGAGE,...,0,0,0,1,0,1,0,0,0,1
887352,15000.0,15000.0,15000.0,36 months,0.1199,498.15,B,B5,1.0,RENT,...,0,0,0,1,0,0,1,0,0,1
887353,15000.0,15000.0,15000.0,60 months,0.1144,329.44,B,B4,4.0,RENT,...,0,0,0,1,0,0,1,0,1,0
887354,6000.0,6000.0,6000.0,36 months,0.1786,216.50,D,D5,10.0,MORTGAGE,...,0,0,0,1,0,1,0,0,0,1
887355,26950.0,26950.0,26950.0,36 months,0.0819,846.88,A,A5,6.0,RENT,...,0,0,0,1,0,1,0,0,0,1
887356,23000.0,23000.0,23000.0,60 months,0.1559,554.32,D,D1,10.0,MORTGAGE,...,0,0,0,1,0,0,1,0,1,0
887357,18700.0,18700.0,18700.0,60 months,0.1786,473.44,D,D5,10.0,RENT,...,0,0,0,1,0,0,1,0,1,0
887358,25000.0,25000.0,25000.0,60 months,0.1599,607.82,D,D2,3.0,RENT,...,0,0,0,1,0,0,1,0,1,0
887359,25000.0,25000.0,25000.0,60 months,0.1559,602.52,D,D1,6.0,OWN,...,0,0,0,1,0,1,0,1,0,0
887360,26500.0,26500.0,26500.0,60 months,0.0867,545.87,B,B1,10.0,MORTGAGE,...,0,0,0,1,0,0,1,0,0,1
887361,21000.0,21000.0,21000.0,36 months,0.0603,639.15,A,A1,10.0,MORTGAGE,...,0,0,0,1,0,1,0,0,1,0
887362,8000.0,8000.0,8000.0,36 months,0.0819,251.40,A,A5,9.0,MORTGAGE,...,0,0,0,1,0,1,0,0,1,0
887363,12000.0,12000.0,12000.0,36 months,0.0949,384.34,B,B2,4.0,RENT,...,0,0,0,1,0,1,0,0,1,0
887364,10775.0,10775.0,10775.0,36 months,0.0603,327.95,A,A1,1.0,RENT,...,0,0,0,1,0,0,1,1,0,0
887365,7000.0,7000.0,7000.0,36 months,0.1431,240.30,C,C4,10.0,RENT,...,0,0,0,1,0,0,1,0,0,1
887366,6225.0,6225.0,6225.0,36 months,0.1649,220.37,D,D3,2.0,RENT,...,0,0,0,1,0,1,0,0,1,0
887367,10000.0,10000.0,10000.0,36 months,0.0649,306.45,A,A2,1.0,RENT,...,0,0,0,1,0,0,1,0,0,1
887368,13150.0,13150.0,13150.0,60 months,0.1499,312.77,C,C5,8.0,MORTGAGE,...,0,0,0,1,0,0,1,0,0,1
887369,4000.0,4000.0,4000.0,36 months,0.0867,126.59,B,B1,10.0,MORTGAGE,...,0,0,0,1,0,1,0,0,0,1
887370,7500.0,7500.0,7500.0,36 months,0.0949,240.22,B,B2,8.0,RENT,...,0,0,0,1,0,1,0,0,0,1
887371,10850.0,10850.0,10850.0,36 months,0.1924,399.04,E,E2,6.0,OWN,...,0,0,0,1,0,1,0,0,0,1
887372,12000.0,12000.0,12000.0,36 months,0.1199,398.52,B,B5,1.0,MORTGAGE,...,0,0,0,1,0,1,0,0,0,1
887373,11575.0,11575.0,11575.0,36 months,0.1559,404.61,D,D1,10.0,RENT,...,0,0,0,1,0,1,0,0,0,1
887374,10000.0,10000.0,10000.0,36 months,0.1199,332.10,B,B5,8.0,RENT,...,0,0,0,1,0,1,0,0,0,1
887375,24000.0,24000.0,24000.0,36 months,0.1199,797.03,B,B5,10.0,MORTGAGE,...,0,0,0,1,0,1,0,0,0,1
887376,13000.0,13000.0,13000.0,60 months,0.1599,316.07,D,D2,5.0,RENT,...,0,0,0,1,0,0,1,0,0,1
887377,12000.0,12000.0,12000.0,60 months,0.1999,317.86,E,E3,1.0,RENT,...,0,0,0,1,0,0,1,0,1,0
887378,20000.0,20000.0,20000.0,36 months,0.1199,664.20,B,B5,10.0,RENT,...,0,0,0,1,0,1,0,0,0,1

In [18]:
loan_df.drop([
            'grade', 
            'term', 
            'pymnt_plan', 
            'home_ownership', 
            'purpose',  
            'recoveries', 
            'initial_list_status',
            'verification_status'
           ], axis=1, inplace=True)

In [19]:
loan_df.drop(['funded_amnt_inv',
              'loan_status',
              'sub_grade',
              'issue_d',
              'addr_state',
              'out_prncp',
              'earliest_cr_line',
              'out_prncp_inv',
              'total_pymnt_inv',
              'collection_recovery_fee',
              'last_credit_pull_d',
              'last_pymnt_amnt',
              'total_pymnt', 
              'total_rec_prncp', 
              'total_rec_int', 
              'total_rec_late_fee', 
              'collections_12_mths_ex_med'
             ], axis=1, inplace=True)

In [20]:
loan_df

,loan_amnt,funded_amnt,int_rate,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_small_business,purpose_vacation,purpose_wedding,recoveries_0,recoveries_1,initial_list_status_f,initial_list_status_w,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
42535,27050.0,27050.0,0.1099,885.46,10.0,55000.0,22.87,0.0,0.0,14.0,...,0,0,0,1,0,0,1,0,0,1
42536,9750.0,9750.0,0.1398,333.14,1.0,26000.0,25.12,0.0,0.0,12.0,...,0,0,0,1,0,1,0,1,0,0
42537,12000.0,12000.0,0.0662,368.45,10.0,105000.0,14.05,0.0,1.0,12.0,...,0,0,0,1,0,0,1,1,0,0
42538,12000.0,12000.0,0.1353,407.40,10.0,40000.0,16.94,0.0,0.0,7.0,...,0,0,0,1,0,0,1,0,1,0
42539,15000.0,15000.0,0.0890,476.30,2.0,63000.0,16.51,0.0,0.0,8.0,...,0,0,0,1,0,0,1,1,0,0
42540,12000.0,12000.0,0.1199,398.52,10.0,130000.0,13.03,0.0,1.0,9.0,...,0,0,0,1,0,1,0,0,1,0
42541,14000.0,14000.0,0.1285,470.71,4.0,88000.0,10.02,1.0,0.0,6.0,...,0,0,0,1,0,1,0,1,0,0
42542,7550.0,7550.0,0.1624,266.34,3.0,28000.0,8.40,0.0,0.0,4.0,...,0,0,0,1,0,0,1,1,0,0
42543,10000.0,10000.0,0.0967,321.13,7.0,102000.0,15.55,2.0,0.0,9.0,...,0,0,0,1,0,1,0,1,0,0
42544,3000.0,3000.0,0.1285,100.87,10.0,25000.0,24.68,0.0,0.0,5.0,...,0,0,0,1,0,1,0,0,0,1
42545,12000.0,12000.0,0.0762,373.94,3.0,96500.0,12.61,0.0,0.0,17.0,...,0,0,0,1,0,1,0,1,0,0
42546,28000.0,28000.0,0.0762,872.52,5.0,325000.0,18.55,0.0,1.0,15.0,...,0,0,0,1,0,0,1,0,1,0
42547,27600.0,27600.0,0.1997,730.78,6.0,73000.0,23.13,1.0,1.0,10.0,...,0,0,0,1,0,1,0,0,1,0
42548,11100.0,11100.0,0.1498,384.68,10.0,90000.0,3.73,1.0,0.0,9.0,...,0,0,0,1,0,1,0,1,0,0
42549,24000.0,24000.0,0.1353,814.80,10.0,100000.0,22.18,0.0,0.0,14.0,...,0,0,0,1,0,0,1,0,0,1
42550,8000.0,8000.0,0.1099,261.88,2.0,33000.0,15.75,0.0,1.0,9.0,...,0,0,0,1,0,1,0,1,0,0
42551,11500.0,11500.0,0.2290,323.54,4.0,32760.0,27.06,0.0,0.0,12.0,...,0,0,0,1,0,1,0,0,0,1
42552,15000.0,15000.0,0.1447,516.10,10.0,98000.0,6.15,0.0,2.0,16.0,...,0,0,0,1,0,1,0,1,0,0
42553,12000.0,12000.0,0.1099,392.81,4.0,60000.0,4.62,0.0,1.0,15.0,...,0,0,0,1,0,1,0,1,0,0
42554,4800.0,4800.0,0.1099,157.13,2.0,39600.0,2.49,0.0,2.0,3.0,...,0,0,0,1,0,0,1,0,1,0
42555,20800.0,20800.0,0.1353,706.16,10.0,81500.0,16.73,0.0,2.0,29.0,...,0,0,0,1,0,1,0,0,0,1
42556,21000.0,21000.0,0.0762,654.39,9.0,110000.0,13.68,0.0,0.0,13.0,...,0,0,0,1,0,1,0,0,1,0
42557,10000.0,10000.0,0.1199,332.10,10.0,41000.0,25.79,0.0,1.0,10.0,...,0,0,0,1,0,0,1,1,0,0
42558,4500.0,4500.0,0.1922,165.46,10.0,105000.0,16.23,1.0,0.0,5.0,...,0,0,0,1,0,1,0,1,0,0
42559,20000.0,20000.0,0.1624,488.92,3.0,72000.0,16.42,0.0,0.0,11.0,...,0,0,0,1,0,1,0,0,0,1
42560,7200.0,7200.0,0.1099,235.69,4.0,70000.0,19.20,0.0,0.0,14.0,...,0,0,0,1,0,1,0,0,0,1
42561,20000.0,20000.0,0.1398,683.36,10.0,80000.0,16.70,1.0,1.0,10.0,...,0,0,0,1,0,1,0,0,1,0
42562,31825.0,31825.0,0.2050,852.05,10.0,70000.0,26.49,0.0,1.0,14.0,...,0,0,0,1,0,0,1,0,0,1
42563,10000.0,10000.0,0.1398,232.58,5.0,25000.0,27.03,0.0,0.0,13.0,...,0,0,0,1,0,1,0,0,1,0
42564,18450.0,18450.0,0.1398,630.40,10.0,65000.0,15.84,0.0,0.0,14.0,...,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,0.0699,617.46,2.0,72000.0,27.24,0.0,1.0,15.0,...,0,0,0,1,0,1,0,0,1,0
887350,10300.0,10300.0,0.1366,237.86,10.0,93600.0,15.72,1.0,0.0,13.0,...,0,0,0,1,0,1,0,0,1,0
887351,4200.0,4200.0,0.1599,147.64,10.0,48000.0,36.93,0.0,0.0,13.0,...,0,0,0,1,0,1,0,0,0,1
887352,15000.0,15000.0,0.1199,498.15,1.0,70000.0,8.47,0.0,0.0,8.0,...,0,0,0,1,0,0,1,0,0,1
887353,15000.0,15000.0,0.1144,329.44,4.0,57000.0,15.77,0.0,0.0,8.0,...,0,0,0,1,0,0,1,0,1,0
887354,6000.0,6000.0,0.1786,216.50,10.0,90000.0,2.84,0.0,0.0,9.0,...,0,0,0,1,0,1,0,0,0,1
887355,26950.0,26950.0,0.0819,846.88,6.0,54000.0,18.11,0.0,0.0,14.0,...,0,0,0,1,0,1,0,0,0,1
887356,23000.0,23000.0,0.1559,554.32,10.0,50000.0,31.95,0.0,0.0,13.0,...,0,0,0,1,0,0,1,0,1,0
887357,18700.0,18700.0,0.1786,473.44,10.0,52000.0,11.28,0.0,0.0,8.0,...,0,0,0,1,0,0,1,0,1,0
887358,25000.0,25000.0,0.1599,607.82,3.0,103000.0,5.27,0.0,0.0,5.0,...,0,0,0,1,0,0,1,0,1,0
887359,25000.0,25000.0,0.1559,602.52,6.0,55000.0,5.52,0.0,0.0,9.0,...,0,0,0,1,0,1,0,1,0,0
887360,26500.0,26500.0,0.0867,545.87,10.0,92000.0,29.60,1.0,0.0,10.0,...,0,0,0,1,0,0,1,0,0,1
887361,21000.0,21000.0,0.0603,639.15,10.0,65000.0,17.09,0.0,0.0,11.0,...,0,0,0,1,0,1,0,0,1,0
887362,8000.0,8000.0,0.0819,251.40,9.0,50000.0,17.62,0.0,1.0,11.0,...,0,0,0,1,0,1,0,0,1,0
887363,12000.0,12000.0,0.0949,384.34,4.0,40000.0,25.65,1.0,0.0,8.0,...,0,0,0,1,0,1,0,0,1,0
887364,10775.0,10775.0,0.0603,327.95,1.0,54000.0,13.22,1.0,0.0,9.0,...,0,0,0,1,0,0,1,1,0,0
887365,7000.0,7000.0,0.1431,240.30,10.0,57000.0,16.80,2.0,3.0,13.0,...,0,0,0,1,0,0,1,0,0,1
887366,6225.0,6225.0,0.1649,220.37,2.0,27000.0,18.58,0.0,1.0,3.0,...,0,0,0,1,0,1,0,0,1,0
887367,10000.0,10000.0,0.0649,306.45,1.0,75000.0,33.66,0.0,0.0,9.0,...,0,0,0,1,0,0,1,0,0,1
887368,13150.0,13150.0,0.1499,312.77,8.0,30000.0,1.00,0.0,0.0,3.0,...,0,0,0,1,0,0,1,0,0,1
887369,4000.0,4000.0,0.0867,126.59,10.0,50000.0,12.63,0.0,0.0,11.0,...,0,0,0,1,0,1,0,0,0,1
887370,7500.0,7500.0,0.0949,240.22,8.0,40000.0,25.63,0.0,0.0,10.0,...,0,0,0,1,0,1,0,0,0,1
887371,10850.0,10850.0,0.1924,399.04,6.0,32000.0,29.44,0.0,1.0,9.0,...,0,0,0,1,0,1,0,0,0,1
887372,12000.0,12000.0,0.1199,398.52,1.0,63000.0,23.69,1.0,0.0,13.0,...,0,0,0,1,0,1,0,0,0,1
887373,11575.0,11575.0,0.1559,404.61,10.0,25400.0,27.08,0.0,0.0,9.0,...,0,0,0,1,0,1,0,0,0,1
887374,10000.0,10000.0,0.1199,332.10,8.0,31000.0,28.69,0.0,0.0,9.0,...,0,0,0,1,0,1,0,0,0,1
887375,24000.0,24000.0,0.1199,797.03,10.0,79000.0,3.90,0.0,1.0,5.0,...,0,0,0,1,0,1,0,0,0,1
887376,13000.0,13000.0,0.1599,316.07,5.0,35000.0,30.90,0.0,0.0,9.0,...,0,0,0,1,0,0,1,0,0,1
887377,12000.0,12000.0,0.1999,317.86,1.0,64400.0,27.19,1.0,2.0,17.0,...,0,0,0,1,0,0,1,0,1,0
887378,20000.0,20000.0,0.1199,664.20,10.0,100000.0,10.83,0.0,1.0,8.0,...,0,0,0,1,0,1,0,0,0,1

In [74]:
loan_df.shape

(810488, 56)

In [75]:
X_test.shape

(245002, 55)

Checking ratio

In [76]:
print("---Loan_df---")
print((loan_df.good_loan == 0).sum()) #Bad Loan
print((loan_df.good_loan == 1).sum()) #Good Loan
print(((loan_df.good_loan == 0).sum()) / (loan_df.good_loan == 1).sum()) #Ratio of Bad to Good
print("-------------")
print("---Test/Train---")
print((y_train == 0).sum()) #Bad Loan
print((y_train == 1).sum()) #Good Loan
print(((y_train == 0).sum())/(y_train == 1).sum()) #Ratio of Bad to Good

---Loan_df---
58647
751841
0.07800452489289623
-------------
---Test/Train---
45443
526228
0.08635610419818025

# Strafication And Cross Validation Through Downsampling

In [77]:
import imblearn.under_sampling

RUS = imblearn.under_sampling.RandomUnderSampler(\
                                     ratio={ 0:int(58647/10) , 1:int(751841/10)}, \
                                     random_state = 42)

X_tr_RUS, y_tr_RUS = RUS.fit_sample(X,y)

In [79]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score, f1_score
from sklearn.metrics import confusion_matrix

logitreg0 = LogisticRegression()
parameters = {'penalty':['l1','l2'] , 'C' : [1,5,10,15], 'class_weight': ['balanced', {1 : 1, 0 : 5}, {1 : 1, 0 : 7}, {1 : 1, 0 : 9.5}, None], 'random_state': [44]}
grid0 = GridSearchCV(logitreg0 , parameters, cv=3, scoring='f1_weighted', n_jobs=1)
grid0.fit(X_tr_RUS, y_tr_RUS)
print(grid0.best_params_, grid0.best_score_)

{'C': 1, 'class_weight': None, 'penalty': 'l1', 'random_state': 44} 0.9310245500865592

In [80]:
grid0.cv_results_

/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

{'mean_fit_time': array([90.29542565,  3.76453757, 29.54495104,  1.97792975, 27.08528336,
         1.18858274, 32.28705629,  3.81860391,  7.76160471,  1.10296488,
        64.32115841,  3.49962155,  4.85170539,  1.40750297,  6.32714542,
         3.75762804, 19.15030503,  6.98774203,  3.55053345,  1.03831871,
        74.90773042,  5.01708682,  5.81128971,  1.74853007,  5.66122325,
         3.32828196, 10.13412754,  5.15179928,  3.77611502,  1.16877635,
        37.93112532,  3.78183317,  4.03438854,  0.98917675,  4.82465275,
         1.32974593,  5.61485624,  5.15557504,  3.82856504,  0.93898257]),
 'std_fit_time': array([29.91032126,  0.63007326, 18.70122281,  0.99621487, 14.80353262,
         0.24777211, 12.20500485,  0.68329818,  0.42079646,  0.13090827,
        40.32407851,  0.51941587,  1.73728874,  0.33792637,  2.01172542,
         0.1204629 , 11.30750718,  1.95144685,  1.28828671,  0.09479988,
        44.89654031,  1.41825559,  0.74420139,  0.59467684,  1.28611073,
         0.51906705,  2.72864028,  0.5199422 ,  1.04116445,  0.1472407 ,
        24.82897546,  0.46942018,  0.41500499,  0.19786638,  1.19444138,
         0.42385732,  1.43980954,  0.59711702,  0.78201649,  0.08189017]),
 'mean_score_time': array([0.01417526, 0.00745289, 0.01427062, 0.00911037, 0.00776299,
        0.00657956, 0.0073897 , 0.00692733, 0.00711203, 0.00673501,
        0.01915264, 0.0072542 , 0.007128  , 0.00708731, 0.0069708 ,
        0.02531393, 0.02537799, 0.07872295, 0.00786217, 0.00664067,
        0.04434419, 0.00852545, 0.019099  , 0.009643  , 0.00712164,
        0.00755898, 0.01823076, 0.009691  , 0.01491229, 0.006639  ,
        0.01211373, 0.00722448, 0.00697128, 0.00791597, 0.007303  ,
        0.01014574, 0.0070761 , 0.00805736, 0.011144  , 0.00708699]),
 'std_score_time': array([4.76748264e-03, 1.15781183e-04, 9.89948778e-03, 3.54783753e-03,
        1.01528523e-03, 6.19589701e-05, 5.26707647e-04, 9.36557895e-05,
        3.85027970e-04, 3.03617259e-04, 9.21521054e-03, 2.12266310e-04,
        4.61762606e-04, 8.52164176e-04, 7.08629681e-05, 2.51713044e-02,
        1.16952910e-02, 6.69289273e-02, 9.28984001e-04, 1.18801851e-04,
        2.74786490e-02, 3.39700452e-04, 1.37374501e-02, 2.80415777e-03,
        1.13331586e-04, 4.66079574e-04, 1.18453872e-02, 2.96410080e-03,
        1.07853997e-02, 1.78102775e-04, 6.41320912e-03, 1.02298396e-04,
        1.09661201e-04, 2.05558615e-03, 5.48089450e-04, 4.92805142e-03,
        4.46347485e-05, 8.72689146e-04, 4.58062151e-03, 5.45671778e-04]),
 'param_C': masked_array(data=[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5,
                    5, 5, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 15, 15,
                    15, 15, 15, 15, 15, 15, 15, 15],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_class_weight': masked_array(data=['balanced', 'balanced', {1: 1, 0: 5}, {1: 1, 0: 5},
                    {1: 1, 0: 7}, {1: 1, 0: 7}, {1: 1, 0: 9.5},
                    {1: 1, 0: 9.5}, None, None, 'balanced', 'balanced',
                    {1: 1, 0: 5}, {1: 1, 0: 5}, {1: 1, 0: 7}, {1: 1, 0: 7},
                    {1: 1, 0: 9.5}, {1: 1, 0: 9.5}, None, None, 'balanced',
                    'balanced', {1: 1, 0: 5}, {1: 1, 0: 5}, {1: 1, 0: 7},
                    {1: 1, 0: 7}, {1: 1, 0: 9.5}, {1: 1, 0: 9.5}, None,
                    None, 'balanced', 'balanced', {1: 1, 0: 5},
                    {1: 1, 0: 5}, {1: 1, 0: 7}, {1: 1, 0: 7},
                    {1: 1, 0: 9.5}, {1: 1, 0: 9.5}, None, None],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_penalty': masked_array(data=['l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1',
                    'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2',
                    'l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1',
                    'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2',
                    'l1', 'l2', 'l1', 'l2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_random_state': masked_array(data=[44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44,
                    44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44,
                    44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1,
   'class_weight': 'balanced',
   'penalty': 'l1',
   'random_state': 44},
  {'C': 1, 'class_weight': 'balanced', 'penalty': 'l2', 'random_state': 44},
  {'C': 1, 'class_weight': {1: 1, 0: 5}, 'penalty': 'l1', 'random_state': 44},
  {'C': 1, 'class_weight': {1: 1, 0: 5}, 'penalty': 'l2', 'random_state': 44},
  {'C': 1, 'class_weight': {1: 1, 0: 7}, 'penalty': 'l1', 'random_state': 44},
  {'C': 1, 'class_weight': {1: 1, 0: 7}, 'penalty': 'l2', 'random_state': 44},
  {'C': 1,
   'class_weight': {1: 1, 0: 9.5},
   'penalty': 'l1',
   'random_state': 44},
  {'C': 1,
   'class_weight': {1: 1, 0: 9.5},
   'penalty': 'l2',
   'random_state': 44},
  {'C': 1, 'class_weight': None, 'penalty': 'l1', 'random_state': 44},
  {'C': 1, 'class_weight': None, 'penalty': 'l2', 'random_state': 44},
  {'C': 5, 'class_weight': 'balanced', 'penalty': 'l1', 'random_state': 44},
  {'C': 5, 'class_weight': 'balanced', 'penalty': 'l2', 'random_state': 44},
  {'C': 5, 'class_weight': {1: 1, 0: 5}, 'penalty': 'l1', 'random_state': 44},
  {'C': 5, 'class_weight': {1: 1, 0: 5}, 'penalty': 'l2', 'random_state': 44},
  {'C': 5, 'class_weight': {1: 1, 0: 7}, 'penalty': 'l1', 'random_state': 44},
  {'C': 5, 'class_weight': {1: 1, 0: 7}, 'penalty': 'l2', 'random_state': 44},
  {'C': 5,
   'class_weight': {1: 1, 0: 9.5},
   'penalty': 'l1',
   'random_state': 44},
  {'C': 5,
   'class_weight': {1: 1, 0: 9.5},
   'penalty': 'l2',
   'random_state': 44},
  {'C': 5, 'class_weight': None, 'penalty': 'l1', 'random_state': 44},
  {'C': 5, 'class_weight': None, 'penalty': 'l2', 'random_state': 44},
  {'C': 10, 'class_weight': 'balanced', 'penalty': 'l1', 'random_state': 44},
  {'C': 10, 'class_weight': 'balanced', 'penalty': 'l2', 'random_state': 44},
  {'C': 10, 'class_weight': {1: 1, 0: 5}, 'penalty': 'l1', 'random_state': 44},
  {'C': 10, 'class_weight': {1: 1, 0: 5}, 'penalty': 'l2', 'random_state': 44},
  {'C': 10, 'class_weight': {1: 1, 0: 7}, 'penalty': 'l1', 'random_state': 44},
  {'C': 10, 'class_weight': {1: 1, 0: 7}, 'penalty': 'l2', 'random_state': 44},
  {'C': 10,
   'class_weight': {1: 1, 0: 9.5},
   'penalty': 'l1',
   'random_state': 44},
  {'C': 10,
   'class_weight': {1: 1, 0: 9.5},
   'penalty': 'l2',
   'random_state': 44},
  {'C': 10, 'class_weight': None, 'penalty': 'l1', 'random_state': 44},
  {'C': 10, 'class_weight': None, 'penalty': 'l2', 'random_state': 44},
  {'C': 15, 'class_weight': 'balanced', 'penalty': 'l1', 'random_state': 44},
  {'C': 15, 'class_weight': 'balanced', 'penalty': 'l2', 'random_state': 44},
  {'C': 15, 'class_weight': {1: 1, 0: 5}, 'penalty': 'l1', 'random_state': 44},
  {'C': 15, 'class_weight': {1: 1, 0: 5}, 'penalty': 'l2', 'random_state': 44},
  {'C': 15, 'class_weight': {1: 1, 0: 7}, 'penalty': 'l1', 'random_state': 44},
  {'C': 15, 'class_weight': {1: 1, 0: 7}, 'penalty': 'l2', 'random_state': 44},
  {'C': 15,
   'class_weight': {1: 1, 0: 9.5},
   'penalty': 'l1',
   'random_state': 44},
  {'C': 15,
   'class_weight': {1: 1, 0: 9.5},
   'penalty': 'l2',
   'random_state': 44},
  {'C': 15, 'class_weight': None, 'penalty': 'l1', 'random_state': 44},
  {'C': 15, 'class_weight': None, 'penalty': 'l2', 'random_state': 44}],
 'split0_test_score': array([0.81383132, 0.80321197, 0.92812873, 0.89277692, 0.91854462,
        0.89236278, 0.88815404, 0.88716426, 0.93100996, 0.89266756,
        0.81352538, 0.80811217, 0.9280695 , 0.89281203, 0.91832485,
        0.89235421, 0.8878138 , 0.88686286, 0.93100996, 0.89264907,
        0.81347438, 0.80519237, 0.92798072, 0.89266756, 0.9182974 ,
        0.89229551, 0.88778885, 0.86535751, 0.93100996, 0.89264907,
        0.81339131, 0.80717013, 0.92798072, 0.89266756, 0.9182974 ,
        0.89191062, 0.88776391, 0.87008463, 0.93100996, 0.89266756]),
 'split1_test_score': array([0.81371112, 0.79822867, 0.9282665 , 0.89258969, 0.9164127 ,
        0.8921059 , 0.88505093, 0.86667337, 0.93094303, 0.89279152,
        0.81355857, 0.80731923, 0.92796865, 0.89262479, 0.9161143 ,
        0.91178076, 0.88491907, 0.87535258, 0.93094303, 0.89281005,
        0.81331106, 0.80650201, 0.92796865, 0.89260626, 0.9160872 ,
        0.90946075, 0.88489428, 0.87189678, 0.93094303, 0.89281005,
        0.81326695, 0.79341686, 0.92796865, 0.8925692 , 0.9160872 ,
        0.90417919, 0.88489428, 0.86504761, 0.93094303, 0.89279152]),
 'split2_test_score': array([0.82220932, 0.75811739, 0.927999  , 0.89287876, 0.91930401,
        0.89298051, 0.89112045, 0.88776608, 0.93112066, 0.89282474,
        0.8213475 , 0.73361761, 0.92785121, 0.89291581, 0.91883528,
        0.89292762, 0.89075516, 0.88650295, 0.93112066, 0.89282474,
        0.82117716, 0.7324365 , 0.92782167, 0.89291581, 0.91880674,
        0.89301445, 0.8903723 , 0.88226679, 0.93112066, 0.89282474,
        0.82114463, 0.79213099, 0.92785121, 0.89289729, 0.9188057 ,
        0.89290578, 0.89052985, 0.88887586, 0.93112066, 0.89280626]),
 'mean_test_score': array([0.81658381, 0.7865199 , 0.92813141, 0.89274845, 0.9180871 ,
        0.89248305, 0.88810844, 0.88053456, 0.93102455, 0.89276127,
        0.81614372, 0.78301726, 0.92796312, 0.89278421, 0.91775814,
        0.89902086, 0.88782931, 0.88290614, 0.93102455, 0.89276129,
        0.81598744, 0.78137786, 0.92792368, 0.89272987, 0.91773044,
        0.89825689, 0.88768511, 0.87317348, 0.93102455, 0.89276129,
        0.8159342 , 0.79757285, 0.92793353, 0.89271135, 0.91773009,
        0.89633185, 0.88772931, 0.87466914, 0.93102455, 0.89275511]),
 'std_test_score': array([3.97802554e-03, 2.01858306e-02, 1.09220906e-04, 1.19718292e-04,
        1.22389531e-03, 3.67042924e-04, 2.47805979e-03, 9.80442502e-03,
        7.32452582e-05, 6.76402460e-05, 3.67954870e-03, 3.49313572e-02,
        8.92017653e-05, 1.20425760e-04, 1.18089668e-03, 9.02565069e-03,
        2.38257460e-03, 5.34318889e-03, 7.32452582e-05, 7.95741725e-05,
        3.67018938e-03, 3.46099334e-02, 7.22956716e-05, 1.33833824e-04,
        1.18040511e-03, 7.92775885e-03, 2.23757718e-03, 6.96196114e-03,
        7.32452582e-05, 7.95741725e-05, 3.68457775e-03, 6.80676792e-03,
        5.84125138e-05, 1.37473120e-04, 1.18008809e-03, 5.56376125e-03,
        2.30081957e-03, 1.02537100e-02, 7.32452582e-05, 6.22016854e-05]),
 'rank_test_score': array([33, 38,  5, 21,  9, 24, 25, 30,  1, 19, 34, 39,  6, 16, 10, 13, 26,
        29,  1, 17, 35, 40,  8, 22, 11, 14, 28, 32,  1, 17, 36, 37,  7, 23,
        12, 15, 27, 31,  1, 20], dtype=int32),
 'split0_train_score': array([0.81545622, 0.80493098, 0.92883099, 0.89280736, 0.91902953,
        0.89252047, 0.88747352, 0.88807901, 0.93103187, 0.89279893,
        0.81529153, 0.80937583, 0.92869704, 0.89273224, 0.91870874,
        0.89274801, 0.8868634 , 0.88789386, 0.93103187, 0.89279893,
        0.81525042, 0.80682975, 0.92865243, 0.8927786 , 0.91873564,
        0.89276085, 0.88680114, 0.867725  , 0.93103187, 0.89279893,
        0.81522492, 0.80926009, 0.92863756, 0.89275078, 0.91873564,
        0.8921176 , 0.88671397, 0.8709546 , 0.93103187, 0.89280818]),
 'split1_train_score': array([0.81457301, 0.80078206, 0.92817895, 0.89283619, 0.9170823 ,
        0.89238012, 0.88608191, 0.86944369, 0.93106532, 0.89273691,
        0.81420268, 0.81063312, 0.92798663, 0.89278756, 0.91679482,
        0.91082028, 0.88575371, 0.87602342, 0.93106532, 0.89277388,
        0.81420268, 0.80714831, 0.92797185, 0.89280615, 0.91688928,
        0.90957041, 0.88566232, 0.87331442, 0.93106532, 0.89278312,
        0.81421546, 0.79499019, 0.92798663, 0.89276898, 0.91687567,
        0.90161982, 0.88564562, 0.8666488 , 0.93106532, 0.89273691]),
 'split2_train_score': array([0.82129895, 0.7567922 , 0.9285246 , 0.89265636, 0.91928443,
        0.8927361 , 0.89077191, 0.88588629, 0.9309765 , 0.89274878,
        0.82063472, 0.73260258, 0.92831574, 0.89274878, 0.9191304 ,
        0.89282952, 0.8904681 , 0.88469744, 0.9309765 , 0.89278504,
        0.82068369, 0.73245326, 0.92824162, 0.89272106, 0.91908845,
        0.89273421, 0.89024471, 0.88084424, 0.9309765 , 0.89273879,
        0.82071267, 0.78899362, 0.92830091, 0.89272106, 0.91903211,
        0.89273946, 0.89036085, 0.88664785, 0.9309765 , 0.89277579]),
 'mean_train_score': array([0.8171094 , 0.78750175, 0.92851151, 0.89276664, 0.91846542,
        0.89254556, 0.88810911, 0.88113633, 0.93102456, 0.89276154,
        0.81670964, 0.78420385, 0.92833314, 0.89275619, 0.91821132,
        0.89879927, 0.88769507, 0.88287157, 0.93102456, 0.89278595,
        0.81671227, 0.78214377, 0.92828863, 0.8927686 , 0.91823779,
        0.89835516, 0.88756939, 0.87396122, 0.93102456, 0.89277361,
        0.81671768, 0.79774797, 0.92830837, 0.89274694, 0.91821447,
        0.89549229, 0.88757348, 0.87475042, 0.93102456, 0.89277363]),
 'std_train_score': array([2.98432673e-03, 2.17808913e-02, 2.66355045e-04, 7.88617362e-05,
        9.83533933e-04, 1.46408206e-04, 1.96672682e-03, 8.31626272e-03,
        3.66240623e-05, 2.68783898e-05, 2.81081931e-03, 3.64912120e-02,
        2.90286687e-04, 2.31868736e-05, 1.01630179e-03, 8.50020308e-03,
        2.01248425e-03, 5.01512451e-03, 3.66240623e-05, 1.02469545e-05,
        2.84061267e-03, 3.51367417e-02, 2.79828066e-04, 3.54494019e-05,
        9.64356128e-04, 7.93038963e-03, 1.94802992e-03, 5.37539933e-03,
        3.66240623e-05, 2.54581486e-05, 2.85478392e-03, 8.50044806e-03,
        2.65795180e-04, 1.97502696e-05, 9.54381971e-04, 4.34024693e-03,
        2.01865007e-03, 8.59444329e-03, 3.66240623e-05, 2.91368162e-05])}

In [85]:
logitreg1 = LogisticRegression()
parameters = {'penalty':['l1','l2'] , 'C' : [1,4], 'class_weight': [{1 : 1, 0 : 2}, {1 : 1, 0 : 3}, None] , 'random_state': [44]}
grid1 = GridSearchCV(logitreg1 , parameters, cv=5, scoring='f1_weighted', n_jobs=1)
grid1.fit(X_tr_RUS, y_tr_RUS)
grid1.cv_results_
print(grid1.best_params_, grid1.best_score_)

/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

{'C': 1, 'class_weight': None, 'penalty': 'l1', 'random_state': 44} 0.9309940969679141

In [86]:
grid1.cv_results_

/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:122: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

{'mean_fit_time': array([13.09058127,  1.0333446 , 20.1792429 ,  2.20586581, 11.41665444,
         1.5977488 ,  6.74031777,  1.46606064,  7.79438481,  1.71983585,
         5.34520321,  1.29602852]),
 'std_fit_time': array([ 3.90560761,  0.15126242, 11.23320369,  0.74614915,  6.56851294,
         0.69293293,  2.70297794,  0.39504474,  2.49538311,  0.51092433,
         1.90373289,  0.24135847]),
 'mean_score_time': array([0.00616579, 0.00413218, 0.00790768, 0.00493116, 0.00465374,
        0.00418844, 0.00672555, 0.00617657, 0.00669022, 0.00490298,
        0.00572176, 0.0059731 ]),
 'std_score_time': array([0.00409942, 0.00037251, 0.00722152, 0.00114163, 0.00072281,
        0.00034442, 0.00319916, 0.00397549, 0.00346723, 0.0009093 ,
        0.00148767, 0.00380499]),
 'param_C': masked_array(data=[1, 1, 1, 1, 1, 1, 4, 4, 4, 4, 4, 4],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_class_weight': masked_array(data=[{1: 1, 0: 2}, {1: 1, 0: 2}, {1: 1, 0: 3}, {1: 1, 0: 3},
                    None, None, {1: 1, 0: 2}, {1: 1, 0: 2}, {1: 1, 0: 3},
                    {1: 1, 0: 3}, None, None],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_penalty': masked_array(data=['l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1', 'l2', 'l1',
                    'l2', 'l1', 'l2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_random_state': masked_array(data=[44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1,
   'class_weight': {1: 1, 0: 2},
   'penalty': 'l1',
   'random_state': 44},
  {'C': 1, 'class_weight': {1: 1, 0: 2}, 'penalty': 'l2', 'random_state': 44},
  {'C': 1, 'class_weight': {1: 1, 0: 3}, 'penalty': 'l1', 'random_state': 44},
  {'C': 1, 'class_weight': {1: 1, 0: 3}, 'penalty': 'l2', 'random_state': 44},
  {'C': 1, 'class_weight': None, 'penalty': 'l1', 'random_state': 44},
  {'C': 1, 'class_weight': None, 'penalty': 'l2', 'random_state': 44},
  {'C': 4, 'class_weight': {1: 1, 0: 2}, 'penalty': 'l1', 'random_state': 44},
  {'C': 4, 'class_weight': {1: 1, 0: 2}, 'penalty': 'l2', 'random_state': 44},
  {'C': 4, 'class_weight': {1: 1, 0: 3}, 'penalty': 'l1', 'random_state': 44},
  {'C': 4, 'class_weight': {1: 1, 0: 3}, 'penalty': 'l2', 'random_state': 44},
  {'C': 4, 'class_weight': None, 'penalty': 'l1', 'random_state': 44},
  {'C': 4, 'class_weight': None, 'penalty': 'l2', 'random_state': 44}],
 'split0_test_score': array([0.93422413, 0.89256765, 0.93422433, 0.89259847, 0.93422413,
        0.89256765, 0.93422413, 0.89256765, 0.93422433, 0.89266009,
        0.93422413, 0.89266009]),
 'split1_test_score': array([0.92651489, 0.89296597, 0.92636764, 0.89293507, 0.92656402,
        0.89296597, 0.92651489, 0.89296597, 0.92636764, 0.89281413,
        0.92656402, 0.89281413]),
 'split2_test_score': array([0.93275512, 0.89262928, 0.93270365, 0.89266009, 0.93275512,
        0.89262928, 0.93275512, 0.89259847, 0.93270365, 0.89256765,
        0.93275512, 0.8926909 ]),
 'split3_test_score': array([0.93115925, 0.89278332, 0.93110835, 0.89278332, 0.93115925,
        0.89278332, 0.93115925, 0.89278332, 0.93121542, 0.89278332,
        0.93115925, 0.89278332]),
 'split4_test_score': array([0.93026787, 0.89279884, 0.93016679, 0.89286045, 0.93026787,
        0.89279884, 0.93026787, 0.89279884, 0.93016679, 0.89279884,
        0.93026787, 0.89279884]),
 'mean_test_score': array([0.93098427, 0.89274901, 0.93091417, 0.89276748, 0.9309941 ,
        0.89274901, 0.93098427, 0.89274285, 0.93093559, 0.8927248 ,
        0.9309941 , 0.89274945]),
 'std_test_score': array([2.61352585e-03, 1.39973523e-04, 2.66185830e-03, 1.24160854e-04,
        2.59674174e-03, 1.39973523e-04, 2.61352585e-03, 1.45672016e-04,
        2.66376439e-03, 9.56757464e-05, 2.59674174e-03, 6.19385774e-05]),
 'rank_test_score': array([ 3,  9,  6,  7,  1,  9,  3, 11,  5, 12,  1,  8], dtype=int32),
 'split0_train_score': array([0.93020988, 0.8927789 , 0.9301427 , 0.89277119, 0.93020988,
        0.8927866 , 0.93020988, 0.8927789 , 0.9301427 , 0.89280973,
        0.93020988, 0.89281744]),
 'split1_train_score': array([0.93211225, 0.89272559, 0.9320482 , 0.89272559, 0.93211225,
        0.89272559, 0.93211225, 0.89275639, 0.9320482 , 0.8927872 ,
        0.93211225, 0.8927718 ]),
 'split2_train_score': array([0.9305876 , 0.8927866 , 0.9305005 , 0.89280202, 0.9305876 ,
        0.89276348, 0.9305876 , 0.89275577, 0.93054163, 0.89280907,
        0.9305876 , 0.89280973]),
 'split3_train_score': array([0.93099086, 0.8927718 , 0.93092874, 0.89274806, 0.93099086,
        0.8927641 , 0.93099086, 0.89277119, 0.93092874, 0.8927789 ,
        0.93099086, 0.89280202]),
 'split4_train_score': array([0.93121282, 0.8927442 , 0.93111363, 0.89276792, 0.93121282,
        0.89273649, 0.93121282, 0.8927442 , 0.93111363, 0.89275191,
        0.93121282, 0.89273649]),
 'mean_train_score': array([0.93102268, 0.89276142, 0.93094675, 0.89276295, 0.93102268,
        0.89275525, 0.93102268, 0.89276129, 0.93095498, 0.89278736,
        0.93102268, 0.89278749]),
 'std_train_score': array([6.44089864e-04, 2.29258856e-05, 6.46063058e-04, 2.54434475e-05,
        6.44089864e-04, 2.17298489e-05, 6.44089864e-04, 1.22839492e-05,
        6.40567322e-04, 2.14494435e-05, 6.44089864e-04, 2.98324481e-05])}

## Train Test Split

In [36]:
from sklearn.model_selection import train_test_split

# std_scale = StandardScaler()

y = loan_df['good_loan']
X = loan_df.loc[:, loan_df.columns != 'good_loan']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=44)

# Modeling Without Modifications

-------------- KNNeighbors ---------------

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix


knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train, y_train)


print("Metrics on Training Data")
train_predict = knn.predict(X_train)
print(metrics.accuracy_score(y_train, train_predict))
print(confusion_matrix(y_train, train_predict))

print("------------------------------")
print("------------------------------")


print("Metrics on Test Data")
y_pred = knn.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test,y_pred))

In [ ]:
n_neighbors = range(1,12)
knn_accuracy = list()

for n in n_neighbors:
    knn = KNeighborsClassifier(n)
    knn.fit(X_train, y_train)
    knn_prediction = knn.predict(X_test)
    knn_accuracy.append(accuracy_score(y_test, knn_prediction))

In [ ]:
plt.figure(figsize=(9,9), dpi=120)
plt.plot(n_neighbors, knn_accuracy)
plt.xlabel('# of neighbors (k)')
plt.ylabel('Accuracy on test set')
plt.title('KNN Model - Accuracy vs Neighbors')

------------------ Logistics Regression ------------------

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score, f1_score
from sklearn.metrics import confusion_matrix

#Hardcut Linear Regression

log_model = LogisticRegression()
log_model.fit(X_train, y_train)

logistic_prediction = log_model.predict(X_test)
log_reg_accuracy = accuracy_score(y_test, logistic_prediction)

print("------------------------------")
print("Metrics on Test Data")
print (log_reg_accuracy)
print(confusion_matrix(y_test, logistic_prediction))
### You need to give it the cut-off

In [ ]:
prediction_soft = log_model.predict_proba(X_test)
confusion_matrix(y_test.values, prediction_soft)

--------------------- Support Vector   ----------------------

In [ ]:
from sklearn.svm import LinearSVC
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import svm

In [ ]:
# 1. Create a suppor vector classifier model
model_svm = svm.SVC(kernel='linear')
# 2. Fit a model on the training data
model_svm.fit(X_train, y_train)
# 3a. Predict the values using the test data
y_pred = model_svm.predict(X_test)
# 3b. Score the model
accuracy_score(y_test,y_pred)
# take a look at the predictions
confusion_matrix(y_test,y_pred)

In [ ]:
svc = LinearSVC()
svc.fit(X_train,y_train)
y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)

In [ ]:
y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)

In [ ]:
svc = LinearSVC(C=5)
svc.fit(X_train,y_train)

y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)
confusion_matrix(y_test,y_pred)

In [ ]:
svc = SVC(kernel='rbf')
svc.fit(X_train,y_train)

y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)

In [ ]:
svc = SVC(kernel='poly')
svc.fit(X_train,y_train)


y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)

In [ ]:
svc = SVC(kernel='rbf', C=5)
svc.fit(X_train,y_train)


y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)

In [ ]:
svc = SVC(kernel='rbf', C=5, gamma=1e2) #'poly'
svc.fit(X_train,y_train)


y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)

In [ ]:
svc = SVC(kernel='rbf', C=5, gamma=.1) #'poly'
svc.fit(X_train,y_train)


y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)

In [ ]:
svc = SVC(kernel='poly', C=5)
svc.fit(X_train,y_train)


y_pred = svc.predict(X_test)
accuracy_score(y_test,y_pred)
confusion_matrix(y_test,y_pred)

--------------- DecisionTree -------------------

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=7)
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

pred = dt.predict(X_test)
pred

-------------- Random Forest ----------------

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

rf_predictions = rf.predict(X_test)

#print(rf.score(X_test, y_test))
scores = cross_val_score(rf, X_test, y_test, cv=5)
print(scores)

print(sklearn.metrics.classification_report(y_test, rf_predictions))
print(sklearn.metrics.confusion_matrix(y_test, rf_predictions))

# Dealing with Imbalanced Design

In [49]:
def make_confusion_matrix(model, threshold=0.5):
    # Predict class 1 if probability of being in class 1 is greater than threshold
    # (model.predict(X_test) does this automatically with a threshold of 0.5)
    y_predict = (model.predict_proba(X_test)[:, 1] >= threshold)
    fraud_confusion = confusion_matrix(y_test, y_predict)
    plt.figure(dpi=100)
    sns.heatmap(fraud_confusion, cmap=plt.cm.BrBG, annot=True, square=True, fmt='d',
           xticklabels=['legit', 'fraud'],
           yticklabels=['legit', 'fraud']);
    plt.xlabel('prediction')
    plt.ylabel('actual')

Experimenting with Class_Weight and C

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score, f1_score
from sklearn.metrics import confusion_matrix

#LogisticRegression?

In [ ]:
lr_balanced = LogisticRegression(class_weight='balanced', C=5,random_state=44)

lr_balanced.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test)[:,1])))

In [ ]:
print(confusion_matrix(y_test, lr_balanced.predict(X_test)))

Experimenting with Class Weight

In [ ]:
lr_9halfx = LogisticRegression(class_weight={1 : 1, 0 : 9.5}, C=3, random_state=44)
lr_9halfx.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_9halfx.predict(X_train)), roc_auc_score(y_train, lr_9halfx.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_9halfx.predict(X_test)), roc_auc_score(y_test, lr_9halfx.predict_proba(X_test)[:,1])))

In [ ]:
X_train.shape

In [ ]:
print(confusion_matrix(y_test, lr_9halfx.predict(X_test)))

In [ ]:
import pickle
pickle.dump(lr_9halfx, open("logRegCredit2.p", "wb" ))

In [ ]:
loan_df.shape

In [ ]:
lr_10x = LogisticRegression(class_weight={1 : 1, 0 : 10}, C=3, random_state=44)
lr_10x.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_10x.predict(X_train)), roc_auc_score(y_train, lr_10x.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_10x.predict(X_test)), roc_auc_score(y_test, lr_10x.predict_proba(X_test)[:,1])))

In [ ]:
print(confusion_matrix(y_test, lr_10x.predict(X_test)))

In [ ]:
lr_9x = LogisticRegression(class_weight={1 : 1, 0 : 9}, C=4, random_state=44)
lr_9x.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_9x.predict(X_train)), roc_auc_score(y_train, lr_9x.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_9x.predict(X_test)), roc_auc_score(y_test, lr_9x.predict_proba(X_test)[:,1])))
print(confusion_matrix(y_test, lr_9x.predict(X_test)))

In [ ]:
print(confusion_matrix(y_test, lr_9x.predict(X_test)))

Experimenting with L1, C, and Class_weights

In [ ]:
lr_balanced = LogisticRegression(penalty='l1', C = 2, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test)[:,1])))

In [ ]:
lr_balanced = LogisticRegression(penalty='l1', C = 5, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test)[:,1])))

In [ ]:
lr_balanced = LogisticRegression(penalty='l1', C = 20, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test)[:,1])))

Potential Proposals

In [ ]:
lr_proposal1 = LogisticRegression(penalty='l1', C = 5, class_weight={1 : 1, 0 : 9.5} ,random_state=44)

lr_proposal1.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_proposal1.predict(X_train)), roc_auc_score(y_train, lr_proposal1.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_proposal1.predict(X_test)), roc_auc_score(y_test, lr_proposal1.predict_proba(X_test)[:,1])))

In [ ]:
print(confusion_matrix(y_test, lr_proposal1.predict(X_test)))

In [ ]:
lr_proposal2 = LogisticRegression(penalty='l1', C = 3, class_weight={1 : 1, 0 : 11} ,random_state=44)

lr_proposal2.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_proposal2.predict(X_train)), roc_auc_score(y_train, lr_proposal2.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_proposal2.predict(X_test)), roc_auc_score(y_test, lr_proposal2.predict_proba(X_test)[:,1])))

In [ ]:
print(confusion_matrix(y_test, lr_proposal2.predict(X_test)))

In [ ]:
lr_proposal3 = LogisticRegression(penalty='l1', C = 3, class_weight={1 : 1, 0 : 9.75} ,random_state=44)

lr_proposal3.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_proposal3.predict(X_train)), roc_auc_score(y_train, lr_proposal3.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_proposal3.predict(X_test)), roc_auc_score(y_test, lr_proposal3.predict_proba(X_test)[:,1])))

In [ ]:
print(confusion_matrix(y_test, lr_proposal3.predict(X_test)))

In [ ]:
lr_balanced = LogisticRegression(C = 5, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test)[:,1])))

In [ ]:
lr_balanced = LogisticRegression(C = 10, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test)[:,1])))

In [ ]:
lr_balanced = LogisticRegression(C = 30, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test)[:,1])))

In [ ]:
lr_balanced = LogisticRegression(C = 100, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test)[:,1])))

Standardize? And Other variables for GridSearch

In [ ]:
LogisticRegression?

In [ ]:
from sklearn.preprocessing import StandardScaler

ssX = StandardScaler()
X_train_scaled = ssX.fit_transform(X_train)
X_test_scaled = ssX.fit_transform(X_test)

In [ ]:
lr_balanced = LogisticRegression(C = 5, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train_scaled, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train_scaled)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train_scaled)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test_scaled)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test_scaled)[:,1])))

In [ ]:
confusion_matrix(y_test, lr_balanced.predict(X_test_scaled))

In [ ]:
lr_balanced = LogisticRegression(C = 50, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train_scaled, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train_scaled)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train_scaled)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test_scaled)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test_scaled)[:,1])))

In [ ]:
lr_balanced = LogisticRegression(C = 15, class_weight='balanced',random_state=44)

lr_balanced.fit(X_train_scaled, y_train)
print('Balanced class weights Logistic Regression Train F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_balanced.predict(X_train_scaled)), roc_auc_score(y_train, lr_balanced.predict_proba(X_train_scaled)[:,1])))
print('Balanced class weights Logistic Regression Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_balanced.predict(X_test_scaled)), roc_auc_score(y_test, lr_balanced.predict_proba(X_test_scaled)[:,1])))
#560

In [ ]:
confusion_matrix(y_test, lr_balanced.predict(X_test_scaled))

In [ ]:
#simple_test_case
from sklearn.model_selection import GridSearchCV

logitreg1 = LogisticRegression()
parameters = {'penalty':['l1','l2'] , 'C' : [3,3.5,4], 'class_weight': ['balanced', {1 : 1, 0 : 9.5}], 'random_state': [44]}
grid = GridSearchCV(logitreg1 , parameters, cv=2, scoring='f1_weighted', n_jobs=1)
grid.fit(X_train, y_train)

In [ ]:
grid.cv_results_

In [ ]:
print(grid.best_params_, grid.best_score_)

In [ ]:
from sklearn.model_selection import GridSearchCV

logitreg0 = LogisticRegression()
parameters = {'penalty':['l1','l2'] , 'C' : [3,3.5,4], 'class_weight': ['balanced', {1 : 1, 0 : 9}, {1 : 1, 0 : 9.5}], 'random_state': [44]}
grid0 = GridSearchCV(logitreg0 , parameters, cv=3, scoring='f1_weighted', n_jobs=1)
grid0.fit(X_train, y_train)

In [ ]:
grid0.cv_results_

In [ ]:
print(grid0.best_params_, grid0.best_score_)

In [ ]:
from sklearn.model_selection import GridSearchCV

logitreg2 = LogisticRegression()
parameters = {'penalty':['l1','l2'] , 'C' : [3,3.5,4], 'class_weight': ['balanced', {1 : 1, 0 : 9}, {1 : 1, 0 : 9.5}], 'random_state': [44]}
grid2 = GridSearchCV(logitreg2 , parameters, cv=3, scoring='f1_macro', n_jobs=1)
grid2.fit(X_train, y_train)

In [ ]:
grid2.cv_results_

In [ ]:
print(grid2.best_params_, grid2.best_score_)

In [ ]:
from sklearn.model_selection import GridSearchCV

logitreg3 = LogisticRegression()
parameters = {'penalty':['l1','l2'] , 'C' : [3,3.5,4], 'class_weight': ['balanced', {1 : 1, 0 : 9}, {1 : 1, 0 : 9.5}, {1 : 1, 0 : 10}], 'random_state': [44]}
grid3 = GridSearchCV(logitreg3 , parameters, cv=3, scoring='f1', n_jobs=1)
grid3.fit(X_train, y_train)

In [ ]:
grid3.cv_results_

In [ ]:
print(grid3.best_params_, grid3.best_score_)

## Oversampling

In [ ]:
# randomly oversample by telling it the number of samples to have in each class
import imblearn.over_sampling
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score, f1_score
from sklearn.metrics import confusion_matrix
#from sklearn.preprocessing import StandardScaler



ROS = imblearn.over_sampling.RandomOverSampler(\
                                              ratio={0:45443*11, 1:526228}, \
                                              random_state=42)


X_tr_rs, y_tr_rs = ROS.fit_sample(X_train, y_train)

In [ ]:
X_tr_rs.shape

### A.) Logistic Regression

In [ ]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
print('Simple Logistic Regression; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(y_test,lr.predict(X_test)), roc_auc_score(y_test, lr.predict_proba(X_test)[:,1])))
#print (accuracy_score(y_test, (lr.predict_proba(X_test)[:,1]))) #
#print (confusion_matrix(y_test, (lr.predict_proba(X_test)[:,1])))#

In [ ]:
confusion_matrix(y_test, lr.predict(X_test))

In [ ]:
lr_os = LogisticRegression()
lr_os.fit(X_tr_rs, y_tr_rs)
print('Logistic Regression on Oversampled Train Data; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(y_test, lr_os.predict(X_test)), roc_auc_score(y_test, lr_os.predict_proba(X_test)[:,1])))
#print (accuracy_score(y_test, lr_os.predict_proba(X_test)[:,1])) #

#print(confusion_matrix(y_test, logistic_prediction))
#logistic_prediction = log_model.predict(X_test)

In [ ]:
confusion_matrix(y_test, lr_os.predict(X_test))

#### Hypertuning for Logistic Regression in Oversampling

In [ ]:
lr_os50 = LogisticRegression(C = 50)
lr_os50.fit(X_tr_rs, y_tr_rs)
print('Logistic Regression on Oversampled Train Data; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(y_test, lr_os50.predict(X_test)), roc_auc_score(y_test, lr_os50.predict_proba(X_test)[:,1])))

In [ ]:
confusion_matrix(y_test, lr_os50.predict(X_test))

In [ ]:
lr_os80 = LogisticRegression(C = 80)
lr_os80.fit(X_tr_rs, y_tr_rs)
print('Logistic Regression on Oversampled Train Data; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(y_test, lr_os80.predict(X_test)), roc_auc_score(y_test, lr_os80.predict_proba(X_test)[:,1])))

In [ ]:
confusion_matrix(y_test, lr_os80.predict(X_test))

In [ ]:
make_confusion_matrix(lr_os80) #.5

In [ ]:
lr_os150 = LogisticRegression(C = 150)
lr_os150.fit(X_tr_rs, y_tr_rs)
print('Logistic Regression on Oversampled Train Data; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(y_test, lr_os.predict(X_test)), roc_auc_score(y_test, lr_os.predict_proba(X_test)[:,1])))

In [ ]:
confusion_matrix(y_test, lr_os150.predict(X_test))

In [ ]:
lr_os = LogisticRegression(C = 180)
lr_os.fit(X_tr_rs, y_tr_rs)
print('Logistic Regression on Oversampled Train Data; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(y_test, lr_os.predict(X_test)), roc_auc_score(y_test, lr_os.predict_proba(X_test)[:,1])))

In [ ]:
confusion_matrix(y_test,lr_os.predict(X_test))

In [ ]:
make_confusion_matrix(lr_os) #.5

### B.) KNeighboors

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix


knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_tr_rs, y_tr_rs)


print("Metrics on Training Data")
train_predict = knn.predict(X_tr_rs)
print(metrics.accuracy_score(y_tr_rs, train_predict))
print(confusion_matrix(y_tr_rs, train_predict))

print("------------------------------")
print("------------------------------")


print("Metrics on Test Data")
y_pred = knn.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test,y_pred))

In [ ]:
n_neighbors = range(1,12)
knn_accuracy = list()

for n in n_neighbors:
    knn = KNeighborsClassifier(n)
    knn.fit(X_tr_rs, y_tr_rs)
    knn_prediction = knn.predict(X_test)
    knn_accuracy.append(accuracy_score(y_test, knn_prediction))

In [ ]:
plt.figure(figsize=(9,9), dpi=120)
plt.plot(n_neighbors, knn_accuracy)
plt.xlabel('# of neighbors (k)')
plt.ylabel('Accuracy on test set')
plt.title('KNN Model - Accuracy vs Neighbors')

### C.) SMOTE

In [ ]:
smote = imblearn.over_sampling.SMOTE(\
                                     ratio={0:45443*11,1:526228}, \
                                              random_state=42)
    
X_tr_smote, y_tr_smote = smote.fit_sample(X_train, y_train)

#### Logistic Regression

In [ ]:
lr_smote = LogisticRegression() 
lr_smote.fit(X_tr_smote, y_tr_smote)

print('Logistic Regression on SMOTE Train Data; Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_smote.predict(X_test)), roc_auc_score(y_test, lr_smote.predict_proba(X_test)[:,1])))

In [ ]:
lr_smote50 = LogisticRegression(C=50) 
lr_smote50.fit(X_tr_smote, y_tr_smote)

print('Logistic Regression on SMOTE Train Data; Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_smote50.predict(X_test)), roc_auc_score(y_test, lr_smote50.predict_proba(X_test)[:,1])))

In [ ]:
lr_smote75 = LogisticRegression(C=75) 
lr_smote75.fit(X_tr_smote, y_tr_smote)

print('Logistic Regression on SMOTE Train Data; Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_smote75.predict(X_train)), roc_auc_score(y_train, lr_smote75.predict_proba(X_train)[:,1])))
print('Logistic Regression on SMOTE Test Data; Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_smote75.predict(X_test)), roc_auc_score(y_test, lr_smote75.predict_proba(X_test)[:,1])))

In [ ]:
make_confusion_matrix(lr_smote75) #.5

In [ ]:
lr_smote80 = LogisticRegression(C=150) 
lr_smote80.fit(X_tr_smote, y_tr_smote)

print('Logistic Regression on SMOTE Train Data; Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_train, lr_smote80.predict(X_train)), roc_auc_score(y_train, lr_smote80.predict_proba(X_train)[:,1])))
print('Logistic Regression on SMOTE Test Data; Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_smote80.predict(X_test)), roc_auc_score(y_test, lr_smote80.predict_proba(X_test)[:,1])))

In [ ]:
lr_smote120 = LogisticRegression(C=100) 
lr_smote120.fit(X_tr_smote, y_tr_smote)

print('Logistic Regression on SMOTE Train Data; Test F1: %.3f, Test AUC: %.3f' % \
      (f1_score(y_test, lr_smote120.predict(X_test)), roc_auc_score(y_test, lr_smote120.predict_proba(X_test)[:,1])))

#### SVM

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(k_neighbors=6, random_state=44, kind = 'svm')
X_res_train, y_res_train = sm.fit_sample(X_tr_smote, y_tr_smote)

In [ ]:
svm_sm_clf = SVC()
svm_sm_clf.fit(X_res_train, y_res_train)

svm_sm_predictions = svm_clf.predict(X_test)

#print(svm_sm_clf.score(X_test_R, y_test))
scores = cross_val_score(svm_sm_clf, X_test, y_test, cv=5)
print(scores)
#print("Accuracy: %0.2f (+/- %0.2f)\n" % (scores.mean(), scores.std() * 2))

print(sklearn.metrics.classification_report(y_test, svm_sm_predictions))
print(sklearn.metrics.confusion_matrix(y_test, svm_sm_predictions))

## Undersampling

In [ ]:
import imblearn.under_sampling

RUS = imblearn.under_sampling.RandomUnderSampler(\
                                     ratio={0:45443, 1:int(526228*.3)}, \
                                     random_state = 42)
    
X_tr_RUS, y_tr_RUS = RUS.fit_sample(X_train,y_train)

In [ ]:
lr_RUS = LogisticRegression() 
lr_RUS.fit(X_tr_RUS, y_tr_RUS)

print('Logistic Regression on Undersampled Train Data; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(y_test,lr_RUS.predict(X_test)), roc_auc_score(y_test, lr_RUS.predict_proba(X_test)[:,1])))

In [ ]:
make_confusion_matrix(lr_RUS)

In [ ]:
lr_RUS50 = LogisticRegression(C=150) 
lr_RUS50.fit(X_tr_RUS, y_tr_RUS)

print('Logistic Regression on Undersampled Train Data; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(y_test,lr_RUS50.predict(X_test)), roc_auc_score(y_test, lr_RUS50.predict_proba(X_test)[:,1])))

In [ ]:
make_confusion_matrix(lr_RUS50)

In [ ]:
!pip install xgboost

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import cross_val_score

xgb = XGBClassifier()
xgb.fit(X_train, y_train)

xgb_predictions = xgb.predict(X_test)
                            
#print(xgb.score(X_test, y_test))
scores = cross_val_score(xgb, X_test, y_test, cv=5)
print(scores)
print("Accuracy: %0.2f (+/- %0.2f)\n" % (scores.mean(), scores.std() * 2))

print(classification_report(y_test, xgb_predictions))
print(confusion_matrix(y_test, xgb_predictions))