In [1]:
import pandas as pd # the pd is by convention
import numpy as np # as is the np

import matplotlib.pyplot as plt
import seaborn as sns


import pickle

# To Plot matplotlib figures inline on the notebook
%matplotlib inline

# Importing Loans

In [2]:
loan_df = pd.read_csv("loan.csv", low_memory=False)

In [3]:
Dictionary_df = pd.read_excel("LCDataDictionary.xlsx")

In [4]:
Dictionary_df.head(100)

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower i...
1,addr_state,The state provided by the borrower in the loan...
2,all_util,Balance to credit limit on all trades
3,annual_inc,The self-reported annual income provided by th...
4,annual_inc_joint,The combined self-reported annual income provi...
5,application_type,Indicates whether the loan is an individual ap...
6,collection_recovery_fee,post charge off collection fee
7,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
8,delinq_2yrs,The number of 30+ days past-due incidences of ...
9,desc,Loan description provided by the borrower
10,dti,A ratio calculated using the borrowerâ€™s total ...
11,dti_joint,A ratio calculated using the co-borrowers' tot...
12,earliest_cr_line,The month the borrower's earliest reported cre...
13,emp_length,Employment length in years. Possible values ar...
14,emp_title,The job title supplied by the Borrower when ap...
15,funded_amnt,The total amount committed to that loan at tha...
16,funded_amnt_inv,The total amount committed by investors for th...
17,grade,LC assigned loan grade
18,home_ownership,The home ownership status provided by the borr...
19,id,A unique LC assigned ID for the loan listing.
20,il_util,Ratio of total current balance to high credit/...
21,initial_list_status,The initial listing status of the loan. Possib...
22,inq_fi,Number of personal finance inquiries
23,inq_last_12m,Number of credit inquiries in past 12 months
24,inq_last_6mths,The number of inquiries in past 6 months (excl...
25,installment,The monthly payment owed by the borrower if th...
26,int_rate,Interest Rate on the loan
27,issue_d,The month which the loan was funded
28,last_credit_pull_d,The most recent month LC pulled credit for thi...
29,last_pymnt_amnt,Last total payment amount received
...,...,...
41,open_acc_6m,Number of open trades in last 6 months
42,open_il_12m,Number of installment accounts opened in past ...
43,open_il_24m,Number of installment accounts opened in past ...
44,open_il_6m,Number of currently active installment trades
45,open_rv_12m,Number of revolving trades opened in past 12 m...
46,open_rv_24m,Number of revolving trades opened in past 24 m...
47,out_prncp,Remaining outstanding principal for total amou...
48,out_prncp_inv,Remaining outstanding principal for portion of...
49,policy_code,publicly available policy_code=1\nnew products...
50,pub_rec,Number of derogatory public records
51,purpose,A category provided by the borrower for the lo...
52,pymnt_plan,Indicates if a payment plan has been put in pl...
53,recoveries,post charge off gross recovery
54,revol_bal,Total credit revolving balance
55,revol_util,"Revolving line utilization rate, or the amount..."
56,sub_grade,LC assigned loan subgrade
57,term,The number of payments on the loan. Values are...
58,title,The loan title provided by the borrower
59,tot_coll_amt,Total collection amounts ever owed
60,tot_cur_bal,Total current balance of all accounts
61,total_acc,The total number of credit lines currently in ...
62,total_bal_il,Total current balance of all installment accounts
63,total_pymnt,Payments received to date for total amount funded
64,total_pymnt_inv,Payments received to date for portion of total...
65,total_rec_int,Interest received to date
66,total_rec_late_fee,Late fees received to date
67,total_rec_prncp,Principal received to date
68,total_rev_hi_lim,Total revolving high credit/credit limit
69,url,URL for the LC page with listing data.
70,zip_code,The first 3 numbers of the zip code provided b...

In [5]:
loan_df.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Checking Dictionary Definition Keys with Loan Data Set

#### **Comparing Variables Names:**

In [6]:
# Loan_cvs column names not in Dictionary so I can't get a proper definition to interpret data.
diff_list = np.setdiff1d(loan_df.columns.values.tolist(), list(Dictionary_df["LoanStatNew"]))
diff_list

array(['total_cu_tl', 'total_rev_hi_lim', 'verification_status',
       'verification_status_joint'], dtype='<U27')

In [7]:
# Dictionary names not in Loan_CVS menas that I have information that is irrelevant to my project.
# Variables in Dictionary.xsls not in loans_df 
diff_list = np.setdiff1d(list(Dictionary_df["LoanStatNew"]),loan_df.columns.values.tolist())
diff_list

array(['total_rev_hi_lim \xa0'], dtype='<U27')

Renaming Dictionary Defintions

In [ ]:
Dictionary_df["LoanStatNew"]=Dictionary_df["LoanStatNew"].replace({"total_rev_hi_lim \xa0":"total_rev_hi_lim", "desc":"descrip"})

For any definition that are not present in Dictionary by the loan_df, remove them and save the edited version

In [ ]:
Dictionary_df["LoanStatNew"].drop(columns=['fico_range_high', 'fico_range_low', "is_inc_v", "last_fico_range_high", "last_fico_range_low", "total_rev_hi_lim \xa0", "verified_status_joint"])
for element in diff_list:
    Dictionary_df=Dictionary_df[Dictionary_df["LoanStatNew"]!=element]
Dictionary_df.head(50)
Dictionary_df.to_csv("CleanLCDataDcitionary.csv")

In [ ]:
# for x,y,z in zip(l1,l2,l3):
idandtype = []

for x,y in zip(loan_df.columns.values.tolist(),loan_df.dtypes.tolist()):
    if x == "desc":
        x = "descrip"
    y = str(y)
    if y == "int64":
        y = "INT,"
    if y == 'float64':
        y= "FLOAT,"
    if y == 'object':
        y = "TEXT,"
    #print(x,y)
    #idandtype.append(x + y)

# PLEASE NOTE: I had to change desc to descrip and the last entry must not have comma at the end 
# because SQL syntax

In [ ]:
loan_df.columns.values.tolist()

In [ ]:
Dictionary_df["LoanStatNew"].head(2)

# Analysis of Data: NaN's, Variables Desired, And SAVE ME!

In [ ]:
def uniquecontents(df, col):
    print(df[col].unique())

def showcontents(df, col):
    print(df[col])

In [ ]:
uniquecontents(loan_df, "desc") #loan_df["desc"].unique()

In [ ]:
uniquecontents(loan_df, "earliest_cr_line")
uniquecontents(loan_df,"purpose")
uniquecontents(loan_df,"loan_status")
uniquecontents(loan_df,"title")
uniquecontents(loan_df, "tot_coll_amt")
uniquecontents(loan_df, "total_rec_int")

##  **Looking at columns and their entries in a statistical summary**

#### What percent of the data is absent for more than 60%?

In [8]:
check_null = loan_df.isnull().sum(axis=0).sort_values(ascending=False)/float(len(loan_df))
check_null[check_null > 0.6]

dti_joint                      0.999426
verification_status_joint      0.999424
annual_inc_joint               0.999424
il_util                        0.979020
mths_since_rcnt_il             0.976549
all_util                       0.975916
max_bal_bc                     0.975916
open_rv_24m                    0.975916
open_rv_12m                    0.975916
total_cu_tl                    0.975916
total_bal_il                   0.975916
open_il_24m                    0.975916
open_il_12m                    0.975916
open_il_6m                     0.975916
open_acc_6m                    0.975916
inq_fi                         0.975916
inq_last_12m                   0.975916
desc                           0.857977
mths_since_last_record         0.845553
mths_since_last_major_derog    0.750160
dtype: float64

Drop info for any rows with a column with int_rate with 0

In [9]:
loan_df['good_loan'] = np.where((loan_df.loan_status == 'Fully Paid') |
                        (loan_df.loan_status == 'Current') | 
                        (loan_df.loan_status == 'Does not meet the credit policy. Status:Fully Paid'), 1, 0)

In [10]:
loan_df.drop(check_null[check_null>0.5].index, axis=1, inplace=True) 
loan_df.dropna(axis=0, thresh=30, inplace=True)

In [ ]:
loan_df.groupby('application_type').size().sort_values()

In [11]:
#Delete columns that are not relevant or lacking in data
delete_me = ['policy_code', 'pymnt_plan', 'url', 'id', 'member_id', 'application_type', 'acc_now_delinq','emp_title', 'zip_code','title']
loan_df.drop(delete_me , axis=1, inplace=True)

In [12]:
# strip months from 'term' and make it an int
# loan_df['term_num'] = loan_df['term'].str.split(' ').str[1]

#interest rate into a 
loan_df['int_rate'] = loan_df.int_rate.astype(float)/100.

# extract numbers from emp_length and fill missing values with the median
loan_df['emp_length'] = loan_df['emp_length'].str.extract('(\d+)').astype(float)
loan_df['emp_length'] = loan_df['emp_length'].fillna(loan_df.emp_length.median()) 
    #Maybe be problematic, so may just remove this if working with just 2017 data set


#Relook on what fails
##[0]#.str[1]

In [ ]:
#Brandon Code
#loan_df = loan_df.drop(columns = ['addr_state', 'application_type', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'descrip', 'earliest_cr_line', 'emp_title', 'funded_amnt_inv', 'id', 'last_credit_pull_d', 'last_pymnt_amnt', 'last_pymnt_d', 'member_id', 'mths_since_last_record', 'mths_since_rcnt_il', 'next_pymnt_d', 'out_prncp_inv', 'policy_code', 'recoveries', 'title', 'tot_coll_amt', 'total_pymnt_inv', 'url', 'zip_code'])


#'issue_d' keep for checking for analysis
#loan_df = loan_df.drop(columns = ['addr_state', 'application_type', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'descrip', 'earliest_cr_line', 'emp_title', 'funded_amnt_inv', 'id', 'last_credit_pull_d', 'last_pymnt_amnt', 'last_pymnt_d', 'member_id', 'mths_since_last_record', 'mths_since_rcnt_il', 'next_pymnt_d', 'out_prncp_inv', 'policy_code', 'recoveries', 'title', 'tot_coll_amt', 'total_pymnt_inv', 'url', 'zip_code'])

In [13]:
lack_of_data_idx = [x for x in loan_df.count() < 887379*0.25]
loan_df.drop(loan_df.columns[lack_of_data_idx], 1, inplace=True)

In [14]:
good_loan =  len(loan_df[(loan_df.loan_status == 'Fully Paid') |
                    (loan_df.loan_status == 'Current') | 
                    (loan_df.loan_status == 'Does not meet the credit policy. Status:Fully Paid')])
print ('Good/Bad Loan Ratio: %.2f%%'  % (good_loan/len(loan_df)*100))

Good/Bad Loan Ratio: 91.45%

In [15]:
check_null = loan_df.isnull().sum(axis=0).sort_values(ascending=False)/float(len(loan_df))
check_null[check_null>0.05]

next_pymnt_d        0.285077
tot_cur_bal         0.079195
tot_coll_amt        0.079195
total_rev_hi_lim    0.079195
dtype: float64

In [16]:
loan_df = loan_df.drop(columns = ['next_pymnt_d','last_pymnt_d'])
loan_df = loan_df.dropna() #remove rows where there is atlease one NAN or empty
loan_df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,good_loan
42535,27050.0,27050.0,27050.0,36 months,0.1099,885.46,B,B2,10.0,OWN,...,0.00,0.0,0.0,885.46,Dec-2015,0.0,0.0,114834.0,59900.0,1
42536,9750.0,9750.0,9750.0,36 months,0.1398,333.14,C,C1,1.0,RENT,...,0.00,0.0,0.0,333.14,Jan-2016,0.0,0.0,14123.0,15100.0,1
42537,12000.0,12000.0,12000.0,36 months,0.0662,368.45,A,A2,10.0,MORTGAGE,...,0.00,0.0,0.0,368.45,Jan-2016,0.0,0.0,267646.0,61100.0,1
42538,12000.0,12000.0,12000.0,36 months,0.1353,407.40,B,B5,10.0,RENT,...,0.00,0.0,0.0,119.17,Jan-2016,0.0,15386.0,13605.0,8100.0,1
42539,15000.0,15000.0,15000.0,36 months,0.0890,476.30,A,A5,2.0,MORTGAGE,...,0.00,0.0,0.0,476.30,Jan-2016,0.0,1514.0,272492.0,15400.0,1
42540,12000.0,12000.0,12000.0,36 months,0.1199,398.52,B,B3,10.0,MORTGAGE,...,0.00,0.0,0.0,398.52,Jan-2016,0.0,0.0,327264.0,16200.0,1
42541,14000.0,14000.0,14000.0,36 months,0.1285,470.71,B,B4,4.0,RENT,...,0.00,0.0,0.0,470.71,Jan-2016,0.0,0.0,17672.0,4500.0,1
42542,7550.0,7550.0,7550.0,36 months,0.1624,266.34,C,C5,3.0,RENT,...,0.00,0.0,0.0,266.34,Jan-2016,0.0,0.0,5759.0,8000.0,1
42543,10000.0,10000.0,10000.0,36 months,0.0967,321.13,B,B1,7.0,MORTGAGE,...,0.00,0.0,0.0,321.13,Jan-2016,0.0,0.0,39143.0,22300.0,1
42544,3000.0,3000.0,3000.0,36 months,0.1285,100.87,B,B4,10.0,RENT,...,0.00,0.0,0.0,2677.23,Jan-2016,0.0,154.0,19530.0,5300.0,1
42545,12000.0,12000.0,12000.0,36 months,0.0762,373.94,A,A3,3.0,MORTGAGE,...,0.00,0.0,0.0,373.94,Jan-2016,0.0,0.0,200314.0,23800.0,1
42546,28000.0,28000.0,28000.0,36 months,0.0762,872.52,A,A3,5.0,MORTGAGE,...,0.00,0.0,0.0,23915.86,Aug-2014,0.0,0.0,799592.0,54200.0,1
42547,27600.0,27600.0,27600.0,60 months,0.1997,730.78,D,D5,6.0,MORTGAGE,...,0.00,0.0,0.0,730.78,Jan-2016,0.0,0.0,241609.0,32600.0,1
42548,11100.0,11100.0,11100.0,36 months,0.1498,384.68,C,C3,10.0,MORTGAGE,...,0.00,0.0,0.0,384.68,Jan-2016,0.0,0.0,353402.0,10000.0,1
42549,24000.0,24000.0,24000.0,36 months,0.1353,814.80,B,B5,10.0,MORTGAGE,...,0.00,0.0,0.0,10726.61,Dec-2015,0.0,539.0,199834.0,28200.0,1
42550,8000.0,8000.0,8000.0,36 months,0.1099,261.88,B,B2,2.0,MORTGAGE,...,15.00,0.0,0.0,276.88,Jan-2016,0.0,0.0,15949.0,20800.0,0
42551,11500.0,11500.0,11500.0,60 months,0.2290,323.54,E,E4,4.0,RENT,...,0.00,0.0,0.0,323.54,Jan-2016,0.0,92.0,24724.0,14100.0,0
42552,15000.0,15000.0,15000.0,36 months,0.1447,516.10,C,C2,10.0,RENT,...,0.00,0.0,0.0,14150.76,Jan-2016,0.0,0.0,13038.0,25800.0,1
42553,12000.0,12000.0,12000.0,36 months,0.1099,392.81,B,B2,4.0,RENT,...,0.00,0.0,0.0,392.81,Jan-2016,0.0,0.0,7137.0,29700.0,1
42554,4800.0,4800.0,4800.0,36 months,0.1099,157.13,B,B2,2.0,MORTGAGE,...,0.00,0.0,0.0,3900.48,Jan-2016,0.0,0.0,4136.0,25700.0,1
42555,20800.0,20800.0,20800.0,36 months,0.1353,706.16,B,B5,10.0,RENT,...,0.00,0.0,0.0,13334.93,Jan-2016,0.0,0.0,23473.0,43100.0,1
42556,21000.0,21000.0,21000.0,36 months,0.0762,654.39,A,A3,9.0,MORTGAGE,...,32.72,0.0,0.0,654.39,Jan-2016,0.0,0.0,364707.0,27700.0,1
42557,10000.0,10000.0,10000.0,36 months,0.1199,332.10,B,B3,10.0,MORTGAGE,...,0.00,0.0,0.0,4395.33,Jan-2016,0.0,0.0,50865.0,19100.0,1
42558,4500.0,4500.0,4500.0,36 months,0.1922,165.46,D,D4,10.0,RENT,...,0.00,0.0,0.0,165.46,Jan-2016,0.0,0.0,40100.0,20500.0,1
42559,20000.0,20000.0,20000.0,60 months,0.1624,488.92,C,C5,3.0,RENT,...,0.00,0.0,0.0,488.92,Jan-2016,0.0,0.0,37111.0,28400.0,1
42560,7200.0,7200.0,7200.0,36 months,0.1099,235.69,B,B2,4.0,OWN,...,0.00,0.0,0.0,4539.95,Jan-2016,0.0,0.0,45598.0,9800.0,1
42561,20000.0,20000.0,20000.0,36 months,0.1398,683.36,C,C1,10.0,MORTGAGE,...,0.00,0.0,0.0,11192.21,Aug-2015,0.0,0.0,16852.0,28800.0,1
42562,31825.0,31825.0,31825.0,60 months,0.2050,852.05,E,E1,10.0,MORTGAGE,...,0.00,0.0,0.0,852.05,Jan-2016,0.0,0.0,215915.0,47800.0,1
42563,10000.0,10000.0,10000.0,60 months,0.1398,232.58,C,C1,5.0,RENT,...,0.00,0.0,0.0,232.58,Jan-2016,0.0,0.0,24419.0,11500.0,0
42564,18450.0,18450.0,18450.0,36 months,0.1398,630.40,C,C1,10.0,RENT,...,0.00,0.0,0.0,630.40,Jan-2016,0.0,0.0,23136.0,42400.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.0,36 months,0.0699,617.46,A,A3,2.0,MORTGAGE,...,0.00,0.0,0.0,617.46,Jan-2016,0.0,0.0,388140.0,39700.0,1
887350,10300.0,10300.0,10300.0,60 months,0.1366,237.86,C,C3,10.0,RENT,...,0.00,0.0,0.0,237.86,Jan-2016,0.0,50.0,41956.0,22000.0,1
887351,4200.0,4200.0,4200.0,36 months,0.1599,147.64,D,D2,10.0,MORTGAGE,...,0.00,0.0,0.0,147.64,Jan-2016,0.0,0.0,207975.0,20400.0,0
887352,15000.0,15000.0,15000.0,36 months,0.1199,498.15,B,B5,1.0,RENT,...,0.00,0.0,0.0,498.15,Jan-2016,0.0,0.0,15724.0,9700.0,1
887353,15000.0,15000.0,15000.0,60 months,0.1144,329.44,B,B4,4.0,RENT,...,0.00,0.0,0.0,329.44,Jan-2016,0.0,0.0,33529.0,26100.0,1
887354,6000.0,6000.0,6000.0,36 months,0.1786,216.50,D,D5,10.0,MORTGAGE,...,0.00,0.0,0.0,216.50,Jan-2016,0.0,0.0,384500.0,8500.0,1
887355,26950.0,26950.0,26950.0,36 months,0.0819,846.88,A,A5,6.0,RENT,...,0.00,0.0,0.0,846.88,Jan-2016,0.0,0.0,41650.0,129100.0,1
887356,23000.0,23000.0,23000.0,60 months,0.1559,554.32,D,D1,10.0,MORTGAGE,...,0.00,0.0,0.0,554.32,Jan-2016,0.0,0.0,48978.0,65600.0,1
887357,18700.0,18700.0,18700.0,60 months,0.1786,473.44,D,D5,10.0,RENT,...,0.00,0.0,0.0,473.44,Jan-2016,0.0,0.0,40164.0,10200.0,1
887358,25000.0,25000.0,25000.0,60 months,0.1599,607.82,D,D2,3.0,RENT,...,0.00,0.0,0.0,607.82,Jan-2016,0.0,0.0,17275.0,18700.0,1
887359,25000.0,25000.0,25000.0,60 months,0.1559,602.52,D,D1,6.0,OWN,...,0.00,0.0,0.0,602.52,Jan-2016,0.0,0.0,13860.0,24400.0,1
887360,26500.0,26500.0,26500.0,60 months,0.0867,545.87,B,B1,10.0,MORTGAGE,...,0.00,0.0,0.0,545.87,Jan-2016,0.0,0.0,115511.0,118600.0,1
887361,21000.0,21000.0,21000.0,36 months,0.0603,639.15,A,A1,10.0,MORTGAGE,...,0.00,0.0,0.0,639.15,Jan-2016,0.0,0.0,212337.0,76300.0,1
887362,8000.0,8000.0,8000.0,36 months,0.0819,251.40,A,A5,9.0,MORTGAGE,...,0.00,0.0,0.0,251.40,Jan-2016,0.0,0.0,211412.0,7300.0,1
887363,12000.0,12000.0,12000.0,36 months,0.0949,384.34,B,B2,4.0,RENT,...,0.00,0.0,0.0,384.34,Jan-2016,0.0,0.0,20671.0,11900.0,1
887364,10775.0,10775.0,10775.0,36 months,0.0603,327.95,A,A1,1.0,RENT,...,0.00,0.0,0.0,9439.34,Jun-2015,0.0,0.0,24696.0,41700.0,1
887365,7000.0,7000.0,7000.0,36 months,0.1431,240.30,C,C4,10.0,RENT,...,0.00,0.0,0.0,240.30,Jan-2016,0.0,0.0,32135.0,9900.0,1
887366,6225.0,6225.0,6225.0,36 months,0.1649,220.37,D,D3,2.0,RENT,...,0.00,0.0,0.0,4858.17,Dec-2015,0.0,0.0,8357.0,1800.0,1
887367,10000.0,10000.0,10000.0,36 months,0.0649,306.45,A,A2,1.0,RENT,...,0.00,0.0,0.0,306.45,Jan-2016,0.0,0.0,88120.0,30300.0,1
887368,13150.0,13150.0,13150.0,60 months,0.1499,312.77,C,C5,8.0,MORTGAGE,...,0.00,0.0,0.0,312.77,Mar-2015,0.0,0.0,158977.0,20700.0,1
887369,4000.0,4000.0,4000.0,36 months,0.0867,126.59,B,B1,10.0,MORTGAGE,...,0.00,0.0,0.0,3655.51,Nov-2015,0.0,0.0,18979.0,30100.0,1
887370,7500.0,7500.0,7500.0,36 months,0.0949,240.22,B,B2,8.0,RENT,...,0.00,0.0,0.0,240.22,Jan-2016,0.0,3174.0,18611.0,14500.0,1
887371,10850.0,10850.0,10850.0,36 months,0.1924,399.04,E,E2,6.0,OWN,...,0.00,0.0,0.0,25.00,Jan-2016,0.0,972.0,53777.0,16800.0,0
887372,12000.0,12000.0,12000.0,36 months,0.1199,398.52,B,B5,1.0,MORTGAGE,...,0.00,0.0,0.0,398.52,Jan-2016,0.0,0.0,237002.0,30300.0,1
887373,11575.0,11575.0,11575.0,36 months,0.1559,404.61,D,D1,10.0,RENT,...,0.00,0.0,0.0,404.61,Jan-2016,0.0,0.0,19798.0,28100.0,1
887374,10000.0,10000.0,10000.0,36 months,0.1199,332.10,B,B5,8.0,RENT,...,0.00,0.0,0.0,332.10,Jan-2016,0.0,0.0,25274.0,17100.0,1
887375,24000.0,24000.0,24000.0,36 months,0.1199,797.03,B,B5,10.0,MORTGAGE,...,0.00,0.0,0.0,797.03,Jan-2016,0.0,0.0,140285.0,10200.0,1
887376,13000.0,13000.0,13000.0,60 months,0.1599,316.07,D,D2,5.0,RENT,...,0.00,0.0,0.0,316.07,Jan-2016,0.0,0.0,34178.0,18000.0,1
887377,12000.0,12000.0,12000.0,60 months,0.1999,317.86,E,E3,1.0,RENT,...,0.00,0.0,0.0,317.86,Jan-2016,1.0,0.0,58418.0,27000.0,1
887378,20000.0,20000.0,20000.0,36 months,0.1199,664.20,B,B5,10.0,RENT,...,0.00,0.0,0.0,664.20,Jan-2016,0.0,0.0,33307.0,41700.0,1

In [17]:
good_loan =  len(loan_df[(loan_df.loan_status == 'Fully Paid') |
                    (loan_df.loan_status == 'Current') | 
                    (loan_df.loan_status == 'Does not meet the credit policy. Status:Fully Paid')])
print ('Good/Bad Loan Ratio: %.2f%%'  % (good_loan/len(loan_df)*100))

Good/Bad Loan Ratio: 92.06%

In [ ]:
#DROP: total_pymnt, total_pymnt_inv, total_rec_int, total_rec_late_fee, total_rec_prncp, recoveries

In [ ]:
# recoveries, collection_recovery_fee, total_rec_late_fee,  is redundant or weird because how does monetary
# help add more about indicating that this person and qualities is a bad investment. Like, your are bad in
# general, addding these numbers is just adding unessary weights. Maybe, if someone got late and considered no payment
# in itself is enough. Why beat something that is already dead.

# Check to see we still have those ratios!!! And remove those double counting ones

In [ ]:
#One Hot Encode Term(?), Grade, Home_ownership, purpose, initial_list_status,

In [18]:
columns = ['grade', 'term','home_ownership', 'purpose', 'initial_list_status','verification_status']
#term_num? or just term?
for col in columns:
    tmp_df = pd.get_dummies(loan_df[col], prefix=col)
    loan_df = pd.concat((loan_df, tmp_df), axis=1)

In [19]:
loan_df.drop([
           'grade',
           'home_ownership',
           'initial_list_status',
           'purpose',
           'verification_status'
           ], axis=1, inplace=True)

In [20]:
loan_df.drop(['funded_amnt_inv',
              'loan_status',
              'term',
              'sub_grade',
              'issue_d',
              'addr_state',
              'earliest_cr_line',
              'out_prncp_inv',
              'total_pymnt_inv',
              'last_credit_pull_d',
              'last_pymnt_amnt',
             ], axis=1, inplace=True)

In [21]:
loan_df.dtypes

loan_amnt                              float64
funded_amnt                            float64
int_rate                               float64
installment                            float64
emp_length                             float64
annual_inc                             float64
dti                                    float64
delinq_2yrs                            float64
inq_last_6mths                         float64
open_acc                               float64
pub_rec                                float64
revol_bal                              float64
revol_util                             float64
total_acc                              float64
out_prncp                              float64
total_pymnt                            float64
total_rec_prncp                        float64
total_rec_int                          float64
total_rec_late_fee                     float64
recoveries                             float64
collection_recovery_fee                float64
collections_12_mths_ex_med             float64
tot_coll_amt                           float64
tot_cur_bal                            float64
total_rev_hi_lim                       float64
good_loan                                int64
grade_A                                  uint8
grade_B                                  uint8
grade_C                                  uint8
grade_D                                  uint8
grade_E                                  uint8
grade_F                                  uint8
grade_G                                  uint8
term_ 36 months                          uint8
term_ 60 months                          uint8
home_ownership_ANY                       uint8
home_ownership_MORTGAGE                  uint8
home_ownership_NONE                      uint8
home_ownership_OTHER                     uint8
home_ownership_OWN                       uint8
home_ownership_RENT                      uint8
purpose_car                              uint8
purpose_credit_card                      uint8
purpose_debt_consolidation               uint8
purpose_educational                      uint8
purpose_home_improvement                 uint8
purpose_house                            uint8
purpose_major_purchase                   uint8
purpose_medical                          uint8
purpose_moving                           uint8
purpose_other                            uint8
purpose_renewable_energy                 uint8
purpose_small_business                   uint8
purpose_vacation                         uint8
purpose_wedding                          uint8
initial_list_status_f                    uint8
initial_list_status_w                    uint8
verification_status_Not Verified         uint8
verification_status_Source Verified      uint8
verification_status_Verified             uint8
dtype: object

# Oversampling

In [22]:
from sklearn.model_selection import train_test_split

# std_scale = StandardScaler()

y = loan_df['good_loan']
X = loan_df.ix[:, loan_df.columns != 'good_loan']

X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.3, random_state=44)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [23]:
print("---Loan_df---")
print((loan_df.good_loan == 0).sum()) #Bad Loan
print((loan_df.good_loan == 1).sum()) #Good Loan
print("-------------")
print("---Test/Train---")
print((y_train == 0).sum()) #Bad Loan
print((y_train == 1).sum()) #Good Loan

---Loan_df---
64832
751841
-------------
---Test/Train---
45443
526228

In [ ]:
loan_df[]

In [28]:
# randomly oversample by telling it the number of samples to have in each class
import imblearn.over_sampling
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score, f1_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

ROS = imblearn.over_sampling.RandomOverSampler(\
                                              ratio={0:45443*11,1:526228}, \
                                              random_state=42)


X_tr_rs, y_tr_rs = ROS.fit_sample(X_train, y_train)

In [29]:
X_tr_rs.shape

(1026101, 59)

In [30]:
lr_os = LogisticRegression()
lr_os.fit(X_tr_rs, y_tr_rs)
print('Logistic Regression on Oversampled Train Data; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(lr_os.predict(X_test), y_test), roc_auc_score(y_test, lr_os.predict_proba(X_test)[:,1])))
#print (accuracy_score(y_test, lr_os.predict_proba(X_test)[:,1])) #
#print(confusion_matrix(y_test, lr_os.predict_proba(X_test)[:,1])) #

#print(confusion_matrix(y_test, logistic_prediction))
#logistic_prediction = log_model.predict(X_test)

Logistic Regression on Oversampled Train Data; Test F1: 0.964, Test AUC: 0.870

In [31]:
#lr = LogisticRegression()
#lr.fit(X_train, y_train)
print('Simple Logistic Regression; Test F1: %.3f, Test AUC: %.3f' % \
     (f1_score(lr.predict(X_test), y_test), roc_auc_score(y_test, lr.predict_proba(X_test)[:,1])))
#print (accuracy_score(y_test, (lr.predict_proba(X_test)[:,1]))) #
#print (confusion_matrix(y_test, (lr.predict_proba(X_test)[:,1])))#

NameError: name 'lr' is not defined

In [ ]:
make_confusion_matrix(lr, threshold=0.5)

In [ ]:
def make_confusion_matrix(model, threshold=0.6):
    # Predict class 1 if probability of being in class 1 is greater than threshold
    # (model.predict(X_test) does this automatically with a threshold of 0.5)
    y_predict = (model.predict_proba(X_test)[:, 1] >= threshold)
    fraud_confusion = confusion_matrix(y_test, y_predict)
    plt.figure(dpi=100)
    sns.heatmap(fraud_confusion, cmap=plt.cm.Blues, annot=True, square=True, fmt='d',
           xticklabels=['legit', 'fraud'],
           yticklabels=['legit', 'fraud']);
    plt.xlabel('prediction')
    plt.ylabel('actual')

In [ ]:
make_confusion_matrix(lr_os) #.5

In [ ]:
make_confusion_matrix(lr_os) #.6

In [32]:
import pickle
pickle.dump(lr_os, open( "logRegCredit.p", "wb" ))

# Modeling

-------------- KNNeighbors ---------------

In [65]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix


knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train, y_train)

print("Metrics on Training Data")
train_predict = knn.predict(X_train)
print(metrics.accuracy_score(y_train, train_predict))
print(confusion_matrix(y_train, train_predict))
print("------------------------------")
print("------------------------------")
print("Metrics on Test Data")
print("Metrics on Test Data")
y_pred = knn.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test,y_pred))

Metrics on Training Data
0.9521018208025245
[[ 18792  26651]
 [   731 525497]]
------------------------------
------------------------------
Metrics on Test Data
Metrics on Test Data
0.9481759332576877
[[  7208  12181]
 [   516 225097]]

In [ ]:
n_neighbors = range(1,12)
knn_accuracy = list()

for n in n_neighbors:
    knn = KNeighborsClassifier(n)
    knn.fit(X_train, y_train)
    knn_prediction = knn.predict(X_test)
    knn_accuracy.append(accuracy_score(y_test, knn_prediction))

In [ ]:
plt.figure(figsize=(9,9), dpi=120)
plt.plot(n_neighbors, knn_accuracy)
plt.xlabel('# of neighbors (k)')
plt.ylabel('Accuracy on test set')
plt.title('KNN Model - Accuracy vs Neighbors')

------------------ Logistics Regression ------------------

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

#Hardcut Linear Regression

log_model = LogisticRegression()
log_model.fit(X_train, y_train)

logistic_prediction = log_model.predict(X_test)
log_reg_accuracy = accuracy_score(y_test, logistic_prediction)

print("------------------------------")
print("Metrics on Test Data")
print (log_reg_accuracy)
print(confusion_matrix(y_test, logistic_prediction))
### You need to give it the cut-off

In [ ]:
X_train

In [ ]:
prediction_soft

In [ ]:
y_test.values

In [ ]:
prediction_soft = log_model.predict_proba(X_test)
confusion_matrix(y_test.values, prediction_soft)

--------------------- Support Vector   ----------------------

In [ ]:
svc = SVC(kernel='rbf', C=5)
svc.fit(X,y)
ax = scatter_plot(X,y)

--------------- DecisionTree -------------------

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

#dt.pred

-------------- Random Forest ----------------

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

rf_predictions = rf.predict(X_test)

#print(rf.score(X_test, y_test))
scores = cross_val_score(rf, X_test, y_test, cv=5)
print(scores)
#print("Accuracy: %0.2f (+/- %0.2f)\n" % (scores.mean(), scores.std() * 2))

print(sklearn.metrics.classification_report(y_test, rf_predictions))
print(sklearn.metrics.confusion_matrix(y_test, rf_predictions))


SVM

In [ ]:
!pip install -U imbalanced-learn

In [45]:
# Bring in evaluator
import sklearn.metrics as mt
from sklearn.model_selection import cross_val_score

# Flatten Data
from sklearn.preprocessing import StandardScaler, RobustScaler

#std_scaler = StandardScaler()
rob_scaler = RobustScaler()

#X_train_S = std_scaler.fit_transform(X_train)
#X_test_S = std_scaler.transform(X_test)

# Use robust scaler to reduce outliers
X_train_R = rob_scaler.fit_transform(X_train)
X_test_R = rob_scaler.transform(X_test)

In [46]:
from sklearn.svm import SVC

In [47]:
y_0 = len(y_train[y_train == 0])/len(y_train)
y_1 = 1 - y_0

In [ ]:
svm_clf = SVC(class_weight={0:y_1, 1:y_0})
svm_clf.fit(X_train_R, y_train)

svm_predictions = svm_clf.predict(X_test_R) # Save prediction


#print(svm_clf.score(X_test_R, y_test))
scores = cross_val_score(svm_clf, X_test_R, y_test, cv=5)
print(scores)
#print("Accuracy: %0.2f (+/- %0.2f)\n" % (scores.mean(), scores.std() * 2))

print(sklearn.metrics.classification_report(y_test, svm_predictions))
print(sklearn.metrics.confusion_matrix(y_test, svm_predictions))


SVM - SMOTE

In [ ]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(k_neighbors=6, random_state=44, kind = 'svm')
X_res_train, y_res_train = sm.fit_sample(X_train_R, y_train)

In [ ]:
svm_sm_clf = SVC()
svm_sm_clf.fit(X_res_train, y_res_train)

svm_sm_predictions = svm_clf.predict(X_test_R)

#print(svm_sm_clf.score(X_test_R, y_test))
scores = cross_val_score(svm_sm_clf, X_test_R, y_test, cv=5)
print(scores)
#print("Accuracy: %0.2f (+/- %0.2f)\n" % (scores.mean(), scores.std() * 2))

print(sklearn.metrics.classification_report(y_test, svm_sm_predictions))
print(sklearn.metrics.confusion_matrix(y_test, svm_sm_predictions))

In [ ]:
#Variable we want to do classification
analysis = [loan_amnt,                    
funded_amnt,        
term,                  
int_rate,
installment,
grade,
emp_length,
home_ownership,
annual_inc,
verification_status,
loan_status,
purpose,
dti,
delinq_2yrs,            
inq_last_6mths,
open_acc,
pub_rec,
revol_bal,
revol_util,
total_acc,
initial_list_status,
out_prncp,
recoveries,
collection_recovery_fee,
last_pymnt_amnt,
last_credit_pull_d,
collections_12_mths_ex_med,
tot_coll_amt,
tot_cur_bal,
total_rev_hi_lim,
good_loan]

In [ ]:
#TO SPLIT AND SEE THROUGH

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils

In [ ]:
X = 
y = 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
ohe = LabelEncoder().fit(y_train)
#Transform my Y's to go from [flower_type] = 0,1,2 to  [[1,0,0],[0,1,0],[0,0,1]]; 
y_train_t = ohe.transform(y_train)
y_test_t = ohe.transform(y_test) #Takes [flower_type] = 0,1,2 to [0] = 
print(y_train_t)
y_train_t = np_utils.to_categorical(y_train_t)
y_test_t = np_utils.to_categorical(y_test_t)
print(y_train_t)

In [ ]:
# Create your first MLP in Keras
from keras.models import Sequential
from keras.layers import Dense
import numpy

model = Sequential()
model.add(Dense(12, input_dim=4, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(2, activation='softmax'))

# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Fit the model
model.fit(X_train, y_train_t, epochs=15, batch_size=20)

In [ ]:
### df['acc_ratio'] = df.open_acc / df.total_acc

In [ ]:
addr_state
application_type
collection_recovery_fee
collections_12_mths_ex_med
desc
earliest_cr_line
emp_title
funded_amnt_inv
id
issue_d
last_credit_pull_d
last_pymnt_amnt
last_pymnt_d
member_id
mths_since_last_record
mths_since_rcnt_il
next_pymnt_d
out_prncp_inv
policy_code
recoveries
title
tot_coll_amt
total_pymnt_inv
url
zip_code

In [ ]:
loan_amnt                     
funded_amnt                   
term                          
int_rate                      
installment                   
grade                         
emp_length                    
home_ownership                
annual_inc                  
verification_status        
loan_status                 
purpose                 
dti                      
delinq_2yrs(?)              
inq_last_6mths            
open_acc                      
pub_rec                   
revol_bal(*)                   
revol_util                   
total_acc                    
initial_list_status           
out_prncp                     
out_prncp_inv(?)
recoveries
collection_recovery_fee(*)   
last_pymnt_amnt              
last_credit_pull_d           
collections_12_mths_ex_med   
tot_coll_amt                 
tot_cur_bal                 
total_rev_hi_lim             
good_loan